[2020-08-12 10:15] bart3r commented on #597
Yes, it turns out we wrote bad code where we always creating new connections for every cache request, instead of re-using the same connection.

[2020-08-12 10:33] nrk commented on #518
Hi @jh3er,

Honestly I'm not sure how it was even working on your local machine, but the correct way to use `SSCAN` with Predis is:

- by following the exact same signature defined by the Redis documentation:

[code]

- by following the Predis-specific signature:

[code]

[2020-08-12 10:33] #518 closed

[2020-08-12 11:28] nrk commented on #478
I'm closing this issue due to the lack of feedback and inability to reproduce.
Feel free to re-open it if you have more details to share and are still interested.

[2020-08-12 11:28] #478 closed

[2020-08-12 11:35] nrk commented on #490
I'm closing this due to lack of feedback, feel free to re-open it if you have more details to share and are still interested in it.

[2020-08-12 11:35] #490 closed

[2020-08-12 11:50] nrk commented on #581
Hi @abbood,

I don't have much to add to @KeithBush's comment as it pretty much sums everything up.

Just wanted to say that you can try forcing the client to open a connection by using `Predis\Client::connect()` and catching `Predis\ConnectionException` to capture any error that might occur when PHP opens the socket stream to the Redis server.

[2020-08-12 11:50] #581 closed

[2020-08-12 12:46] srmklive commented on #618
I think its already removed as per this commit for v1.1: cf15dd9857649ca65976ceebb360fe105328cbd6

[2020-08-12 15:40] tillkruss commented on #618
Yeah, this is mostly to remove leftovers.

[2020-08-12 15:49] dereuromark commented on #620
This seems to be already done in https://github.com/nrk/predis/blob/main/.travis.yml (main)
and can be closed then.

[2020-08-12 15:56] tillkruss commented on #620
@dereuromark: I'll keep this open until the tests pass again.

Are you up for fixing the test failures on `main` that came with the PHPUnit upgrade from 4 to 8?

[2020-08-12 16:20] AhmedRaafat14 commented on #620
I can help with this if needed as well :).

[2020-08-12 16:22] dereuromark commented on #620
I didnt see the test fails
@AhmedRaafat14 much appreciated.

[2020-08-12 16:22] tillkruss commented on #620
@AhmedRaafat14: Go for it 👍🏻

[2020-08-12 18:14] nrk commented on #523
Maybe it's just the browser asking for two resources when loading / reloading the page (e.g. the browser asks for actual homepage and the favicon filve), anyway it's definitely not something related to Predis or Redis.

[2020-08-12 18:14] #523 closed

[2020-08-12 18:15] #501 closed

[2020-08-12 18:15] #516 closed

[2020-08-12 18:19] nrk commented on #457
Closing due to lack of feedback.

[2020-08-12 18:19] #457 closed

[2020-08-12 18:28] tillkruss commented on #623
Stick with MIT.

[2020-08-12 18:28] #623 closed

[2020-08-12 19:30] tillkruss commented on #621
@predishq/team: Anybody up for setting this up?

[2020-08-12 20:14] mfn commented on #621
![image](https://user-images.githubusercontent.com/87493/90063133-31402700-dce9-11ea-9d50-8e730f67bc5a.png)

Is it necessary to have this private? 🤔

[2020-08-12 20:16] tillkruss commented on #621
@mfn: It's a public team: https://github.com/orgs/predishq/teams

[2020-08-12 20:35] srmklive commented on #621
@tillkruss let me look into this.

[2020-08-12 20:46] srmklive commented on #621
Just to confirm, *main* branch is where changes would be merged?

[2020-08-12 20:54] tillkruss commented on #621
Yeah, main is the new master since BLM 👍🏻

[2020-08-13 06:36] mfn commented on #621
I stand correct, thank you! Just though the direct link could/should work.

Good day to make a fool of myself, apologies 🤷‍♀️

[2020-08-13 06:37] mfn commented on #621
Wait, no, actually not. I can't see anything there:
![image](https://user-images.githubusercontent.com/87493/90102098-2f558280-dd40-11ea-95c8-52e89f2546c7.png)

Ok, not a big deal anyway, just wanted to point it out => I'll see myself out 😏

[2020-08-13 09:13] Fred07 commented on #551
Hi @nrk, thanks for your reply, and I got the solution in #598
my current workaround for the scenario is to apply a customize `MasterSlaveReplication` and `ReplicationStrategy` which removed `dbsize` command from disallowed operators while process initiating predis client.

and it worked properly, but  i'm still looking forward to the upcoming updates for the feature about that.

glad to see this

[2020-08-13 09:47] nrk commented on #551
Yay, having the ability of customizing Predis as much as possible was after all 👍 😃

Maybe an improvement for v2.0 could be adding a set of whitelisted commands (like `INFO` or `DBSIZE`) to be executed on a master node without actually switching from the currently node the client is connected to. It would be possible to do this internally to `MasterSlaveReplication` by using `Predis\Connection\Rep

[2020-08-13 10:16] nrk commented on #539
@dkrieger not sure how I missed this until now but it makes perfect sense to have the method `executeRaw()` and not only in `Predis\Transaction\MultiExec` for transactions but also in `Predis\Pipeline\Pipeline` for command pipelines. Furthermore, it should probably be worth adding the method to `Predis\ClientContextInterface` in the end.

[2020-08-13 16:12] tillkruss commented on #620
@emmanix2002 @AhmedRaafat14 You can split it up, too, so we have many small PRs and not one massive one 🙂

There seem to be quite a few sectors:

- Depreciation notices
- Redis 6 changes
- Broken mocks

[2020-08-13 16:14] AhmedRaafat14 commented on #620
I was just thinking about the same thing.

@emmanix2002 you can tell what you already started fixing and I can take another point, what do you think :)!

Otherwise, I will just start looking into the docs 😉

[2020-08-13 16:20] emmanix2002 commented on #620
@AhmedRaafat14 fixed issues for some of the files inside of `tests/PHPUnit` for now, specifically:

- `tests/PHPUnit/ArrayHasSameValuesConstraint`
- `tests/PHPUnit/PredisTestCase`
- `tests/PHPUnit/RedisCommandConstraint`

Currently on:

- `tests/PRedis/ClientExceptionTest`

There are quite a number of issues but the ones in the `PHPUnit` directory are the lowest hanging fruits

[2020-08-13 16:23] emmanix2002 commented on #620
@AhmedRaafat14 quick question, I don't know if we want to set `namespace` declarations inside the test files. IMO, we should only use namespace declarations for the actual source file.

I ask because the files inside `tests/Predis` have namespace declarations on them.

What do you think?

[2020-08-13 16:28] AhmedRaafat14 commented on #620
If am doing that I will use `namesspaces` for sure I love having everything inside a specified namespace and not just laying around (I think laravel doesn't have namespace for tests not sure about that but remember something like that!) but tobh it confuses me sometimes 😂.

So I would suggest yes please use `namespaces`.

[2020-08-13 16:30] emmanix2002 commented on #620
@AhmedRaafat14 😂 Cool, we'll maintain the namespaces.

[2020-08-13 22:39] dystopianblue opened #632 "v1.1.2 has tests dir export ignored but needed for patches"
In [v1.1.2](https://github.com/predishq/predis/tree/v1.1.2), the `tests` dir is export-ignore in the .gitattributes file.  But, in the composer.json, the files in the `tests` folder are needed to run the patches.  Can you either remove the `tests` dir from .gitattributes or remove the patch files from composer.json?

[2020-08-13 23:54] tillkruss commented on #632
@dystopianblue: Is the issue that was accidentally added as a dependency? See fix in: https://github.com/predishq/predis/commit/6dd55d7f9661b135964d6df49e1a126d7d1351aa

I assume you can't Composer install currently, or what's the issue?

[2020-08-13 23:59] dystopianblue commented on #632
Yes, when attempting to install predis in composer for Drupal, I get this error:

[code]

[2020-08-14 00:07] tillkruss commented on #632
Does installing `v1.1.x-dev` work for you?

[2020-08-14 00:11] tillkruss commented on #632
Secondly, if you set `composer-exit-on-patch-failure` to `false` what's your output when installing the package?

[2020-08-14 00:22] dystopianblue commented on #632
@tillkruss Both v1.1.1 and 1.1.x-dev work.  When I set `composer-exit-on-patch-failure` to `false` at `^1.1`, I get this:

[code]

[2020-08-14 00:28] dystopianblue commented on #632
FYI I also have `"cweagans/composer-patches"` as a require in my composer

[2020-08-14 00:30] tillkruss commented on #632
Okay, can you post your full `composer.json` to double check this?

[2020-08-14 02:55] Fred07 commented on #551
it sounds good to me, user only facing the predis `client` and having an option to set the whitelist, then connection strategy `MasterSlaveReplication` will handle it between master/slave, am i right for this planning behavior?

[2020-08-14 07:15] nrk commented on #551
@Fred07 yes, generally speaking that's the idea.

[2020-08-14 09:35] Fred07 opened #633 "Don't stick on master in replication mode."
The situation happens with replication mode, and application running as a daemon process, for example: [ReactPHP](https://reactphp.org/)

the original behavior of `MasterSlaveReplication` in a process is to stick on master connection after a write-command send, even if it's a read-only command actually.

mostly apps like http server, it's fine because every new request(process) would start a new p

[2020-08-14 11:52] joz-d7 commented on #632
I can confirm I am getting the same errors with each of the PHP patches.
The patch looks for this file `/src/Util/Getopt.php`
However I cannot see this file in https://github.com/predishq/predis/tree/v1.1.2/src

I can also confirm there isn't a patching issue with v1.1.1

[2020-08-14 15:02] nrk commented on #568
Hi @stemis,

The problem in your snippet is that you are passing a string value to the constructor of the client instance which configures it to connect to a single Redis instance even when client options may suggest otherwise. In order to properly configure the client to use aggregate connection backends such as the ones for redis-cluster or redis-sentinel you must always [pass a **list** of stri

[2020-08-14 15:02] #568 closed

[2020-08-14 15:31] tillkruss commented on #632
@joz-d7 when installing `v1.1.x-dev` instead, does that resolve the issue for you?

[2020-08-14 16:01] tillkruss opened #635 "Moved GitHub organizations"
We just moved GitHub organization again to `predis`. The previous owner let it go.

- [x] Update all references
- [x] Make sure Travis works
- [x] Make sure Packagist webhook works

[2020-08-14 16:01] tillkruss commented on #635
JFYI: @predis/team

[2020-08-14 16:12] nrk commented on #633
Hi @Fred07,

The first issue that comes to mind with using this approach is that it would completely break `MULTI` / `EXEC` as you cannot hop from one node to another while inside a transaction: you **must** stick to the same node hit by `MULTI` as you progress with the transaction and it must be the master node simply because it's not possible to guess beforehand if you will have a write operatio

[2020-08-14 16:46] halaei opened #636 "Basic async support for map-reduce (without event-loop)"
**Is your feature request related to a problem? Please describe.**
Extending predis pipeline, I was able to simultaneously send the same command to multiple Redis instances and wait for the responses and process them in PHP to form the final result. It is basically a map-reduce model. I am wondering if you can officially add such a feature to predis as well. Please note that here by "async" I don'

[2020-08-14 16:58] tillkruss commented on #636
@nrk thoughts?

[2020-08-14 17:28] nrk commented on #636
Hi @halaei,

Honestly I'm not exactly sure I undestand your use case and maybe I'm missing something but wouldn't it be possible to do the same already just by not passing a callback as the argument for `Predis\Client::pipeline()` in order to use the pipeline instance directly? Without any argument it returns a new pipeline instance which is not flushed unless `Predis\Pipeline\Pipeline::execute()`

[2020-08-14 17:40] #619 closed

[2020-08-14 17:43] tillkruss commented on #621
Solved in #634 and d4a170d.

[2020-08-14 17:43] #621 closed

[2020-08-14 17:45] tillkruss commented on #620
We just dropped Travis for 2.0 and added GitHub actions 👍🏻

[2020-08-14 17:53] jimbonator commented on #636
I might be misreading the reporter's request, but I wonder if the I/O model they're envisioning looks something like this:

* write commands to shard A
* write commands to shard B
* write commands to shard C
* read responses from shard A
* read responses from shard B
* read responses from shard C

In the pipeline model, under-the-hood the I/O model is:

* write commands to shard A
* read responses

[2020-08-14 17:59] halaei commented on #636
Assume I have 8 instances and each command takes 1 second on each instance to run. Using the current pipeline the total response time is 8 seconds, but using TwoStepPipeline assuming there are enough CPU cores and assuming Redis instances are not busy doing other tasks, it takes 1 second.

[2020-08-14 18:09] halaei commented on #636
My code still is not efficient because the write and read operations are in blocking mode, so during I/O there is no parallelism.

[2020-08-14 18:51] jimbonator commented on #636
Do you mean that you would like non-blocking I/O with the calling code invoking some kind of `wait()` method that indicates I/O should occur, e.g.,

[code]
(I'm just providing an example, not trying to formalize an API or anything.)

[2020-08-14 19:18] halaei commented on #636
@jimbonator Yes exactly.

[2020-08-14 19:58] nrk commented on #636
@jimbonator indeed, I missed the different behaviour compared to the current implementation of `Predis\Pipeline\Pipeline`. Sorry @halaei!

@halaei with Predis we can't do any better in terms of "efficiency" than what you already did, as the whole library is designed around blocking I/O. This considered and adding the fact that, at least to me, all of this seems to be quite specific to your use-cas

[2020-08-14 20:02] nrk commented on #635
Awesome! 🎉
I guess we should also thank the previous owner, whoever it was 😉

[2020-08-14 20:06] halaei commented on #636
Thanks @nrk for the suggestion. I take a look into it.

[2020-08-14 20:18] jimbonator commented on #636
FWIW, I don't see this as a one-off or specific use-case request.  There's been times I've wished Predis offered an async mode, even if it meant _all_ requests with the client had to be handled that way.  (In particular, it would help with Redis pub/sub across multiple servers.)

That said, we don't use separate servers as shards, we configure `Predis\Client` for client-side sharding.

Even if the

[2020-08-14 20:35] jimbonator commented on #586
Adding an explicit `flush()` to the stream classes, and calling it within `Pipeline` after writing and before reading, would improve concurrent I/O on aggregated connections.

[2020-08-14 20:38] nrk commented on #636
@jimbonator I was reading about #586 just the other day but I still haven't replied due to the massive backlog, anyway I've found it quite interesting especially because I played with a similar idea a few years ago by reusing my [StringBuffer from Predis\Async](https://github.com/nrk/predis-async/blob/master/src/Connection/Buffer/StringBuffer.php).

As for a truly async mode in Predis, I'm not sur

[2020-08-14 22:47] tillkruss commented on #635
@nrk: The GitHub support did not tell me 😐

[2020-08-15 13:22] nrk commented on #488
I'm closing this issue as this is a duplicate of #372.

[2020-08-15 13:22] #488 closed

[2020-08-17 08:35] Fred07 commented on #633
It is good reason to keep in master connection in `MULTI` and `EXEC` and more. Thanks for the explanation.

[2020-08-17 17:47] jimbonator opened #640 "Atomic pipelines doesn't throw AbortedMultiExecException when WATCH transaction is aborted"
Using an atomic pipeline, if a `WATCH`/`MULTI`/`EXEC` transaction is aborted by the server, Predis throws a `ClientException` instead of an `AbortedMultiExecException`.  This means an atomic pipeline isn't necessarily interchangeable with a Predis transaction (since `transaction()` will throw the appropriate exception).

Some discussion of this problem can be found [here](https://github.com/predis

[2020-08-18 08:22] dereuromark opened #642 "1.1.2 lost composer v2 support"
We are already using composer v2 in experimental state
But now, it seems 1.1.2 patch made composer v2 not usable again

Can we please revert this?

https://github.com/predis/predis/blob/v1.1/composer.json#L35
Why was this tool added? This seems to cause the blocking.
If we removed that in some way, composer v2 would work again

[2020-08-18 08:24] dereuromark commented on #642
I see it was already being moved to require-dev https://github.com/predis/predis/commit/6dd55d7f9661b135964d6df49e1a126d7d1351aa#diff-b5d0ee8c97c7abd7e3fa29b9a27d1780
So if this was to be released as patch it would directly fix the issue.

[2020-08-18 10:23] b1rdex commented on #632
@dystopianblue @joz-d7 `composer install --prefer-source` might help also.

@tillkruss I suggest releasing a patch version for v1.1 with the dependencies issue fix

[2020-08-18 15:31] tillkruss commented on #642
@dereuromark: Does installing `v1.1.x-dev` work fine with Composer 2?

[2020-08-18 15:32] tillkruss commented on #632
@b1rdex: Yeah, just waiting for confirmation that this is resolved in `v1.1.x-dev`.

[2020-08-18 15:33] tillkruss commented on #642
Related #632.

[2020-08-18 15:34] joz-d7 commented on #632
I am not getting errors on 1.1.x-dev where I previously had issues. I assume there has been some changes made?

[2020-08-18 16:21] tillkruss commented on #632
Great, we'll tag 1.1.3 soon. The change was made here: https://github.com/predis/predis/commit/6dd55d7f9661b135964d6df49e1a126d7d1351aa

[2020-08-18 16:21] #632 closed

[2020-08-18 16:26] tillkruss commented on #642
Related https://github.com/cweagans/composer-patches/pull/321

[2020-08-18 16:48] dereuromark commented on #642
Still:
If you release now as I recommended, then the problem would already go away now as that dependency should never have been a require one to begin with.

[2020-08-18 18:14] nrk commented on #642
By the way, I see a bunch of patch files commited in `v1.1` (namely `tests/phpunit_mock_objects.patch`, `tests/phpunit_php7.patch ` and `tests/phpunit_php8.patch `). Shouldn't they be added to `.gitignore` and removed from the repository?

[2020-08-18 19:56] tillkruss commented on #642
If the patches aren't included, the dev install fails. Since we don't include the tests folder, it might make sense to move the patches into a separate folder.

That's one of the reasons why I didn't want to keep patching PHPUnit in 2.x 👍🏻

[2020-08-18 20:11] nrk commented on #642
Alright I see, I was just asking because I still haven't had a look at what this thing does under the hood 😃

Indeed. In v1.1 we are just stuck with ancient stuff, but v2.0 is a whole different matter  🚀

[2020-08-18 21:02] tillkruss commented on #642
Pushed v1.1.3 live.

[2020-08-18 21:02] #642 closed

[2020-08-18 21:03] tillkruss commented on #635
Packagist works.

[2020-08-18 21:03] #635 closed

[2020-08-19 00:30] jimbonator opened #643 "Promises & futures for Predis pipelines"
One technique we've used with some success involves a miniature library I developed on top of Predis called [Deferred](https://github.com/internetarchive/deferred).  I demonstrated this library at RedisConf 2018.

Deferred formalizes a promises/futures model that use Predis pipelines (transaction, pipeline, and atomic pipeline) under-the-covers.  It's a more object-oriented approach to pipelining,

[2020-08-20 06:25] crynobone opened #645 "Future for Predis Async"
I hope the new Predis team will be able to also continue the development of <https://github.com/nrk/predis-async>. At the moment I been actively using a modified fork at <https://github.com/laravie/predis-async> with just add support to `reactphp/event-loop` v1+ where else `nrk/predis-async` only support v0.4.

The package is extremely useful when you want to build realtime tool on top of Redis Su

[2020-08-20 08:13] nrk commented on #645
Hi @crynobone,

We briefly discussed about [Predis\Async](https://github.com/nrk/predis-async) but there's currently no plan to continue its development here in the Predis organization, mostly because there's already a ton of work just for Predis and, adding to that, I think it'd probably better to use something like [reactphp-redis](https://github.com/clue/reactphp-redis) in a ReactPHP-based appl

[2020-08-20 08:13] #645 closed

[2020-08-23 03:47] hlbbt opened #647 "set command how to write ex,nx simultaneously"
I want to write `$redis->set('tab', 1, ['nx', 'ex' => 60])` such commands, but it doesn't seem to be;
I want to learn how to write such commands

[2020-08-24 07:31] nrk commented on #647
Hi @hlbbt,

Predis for `SET` does not yet support passing modifiers as an array in the last argument of the method, but as usual nothing stops you from using the same signature [described on the Redis docs for this command](https://redis.io/commands/set) so `$redis->set('tab', 1, 'ex', '60', 'nx')`.

[2020-08-24 07:51] hlbbt commented on #647
Hello, it's the right way to use it, I tried all sorts of ways,
eg: `$redis->set('tab', 1, 'ex|nx', 60)`,   `$redis->set('tab', 1, 'ex nx', 60)`,   $redis->set('tab', 1, 'nx', 60)`,  $redis->set('tab', 1, 'nx', 60, 'ex')`,

Then it seems to ignore the way you say
Thanks very much.

[2020-08-24 07:51] #647 closed

[2020-08-24 10:24] nrk commented on #552
Pull request #556 has been merged into branch `v1.1` so a fix for this issue will be included in the next patch release (1.1.4).

[2020-08-24 10:24] #552 closed

[2020-08-24 14:43] nrk commented on #531
Should be fixed now. Tested on the PEAR packages I just published for the recently released patch releases (`1.1.2`, `1.1.3`) and it seems to be working fine (provided that I still don't have any issue with old packages):

[code]

[code]

Thank you for reporting the issue.

[2020-08-24 14:43] #531 closed

[2020-08-24 16:24] nrk commented on #532
This is going to be fixed as soon as #456 is merged.

[2020-08-24 17:13] nrk commented on #513
Just tested using your snippet and using `$connect = [ "tls://aws-ec-host:6379" ];`

[code]

So the client is using the redis-cluster backend as expected and documented, there's no issue here.

Actually you have a very different problem as hinted by the following line:

This means that you are  trying to use that client instance to send one of the variants of the `CLUSTER` command to Redis but thi

[2020-08-24 17:13] #513 closed

[2020-08-24 17:42] nrk commented on #602
After further inspection I can confirm that `HSET` does work correctly when using redis-cluster since Predis v1.0.0.

That said I was able to reproduce the error reported in your issue by calling `HSET` without arguments (which is wrong):

[code]

I admit the exception message is a bit misleading in this case because `HSET` is indeed supported but trying to call it without passing any argument mea

[2020-08-24 17:42] #602 closed

[2020-08-25 09:17] nrk commented on #532
Fixes for this issue will be included with Predis v1.1.4 when it's released. Thank you.

[2020-08-25 09:17] #532 closed

[2020-08-25 09:20] #624 closed

[2020-08-25 09:41] nrk commented on #620
I guess this can be closed now?

We've done everything described here: `v1.1` targets PHP 5.3 ~ 8.0 and `main` targets PHP 7.2 ~ 8.0, test suites for these branches were fixed accordingly and they are green for both.

[2020-08-25 18:04] #620 closed

[2020-08-25 18:42] nrk commented on #468
Fix will be available in Predis v1.1.4. Thank you.

[2020-08-25 18:42] #468 closed

[2020-08-25 21:31] nrk commented on #378
Better late than never, they say.

@Berbe the additional parameter for callable objects used as connection initializers for `Predis\Connection\Factory` is not an oversight: when a callable is invoked by the connection factory it receives not only the original connection parameters supplied to the client but also a reference to the very same connection factory.

Admittedly the use cases for this ar

[2020-08-25 21:31] #378 closed

[2020-08-25 23:14] nrk commented on #485
Fixed in recent patch releases. And sorry for the long wait.

[2020-08-25 23:14] #485 closed

[2020-08-25 23:35] nrk commented on #522
`BITOP` is properly implemented in Predis to support redis-cluster. The most likely issue in you case is probably that your application is passing keys to `BITOP` (destination key and source keys) that do not calculate the same hash meaning that you'd end up with a `-CROSSSLOT Keys in request don't hash to the same slot` error. See [what the official Redis documentation says](https://redis.io/topi

[2020-08-25 23:35] #522 closed

[2020-08-26 02:50] singularo commented on #632
Still occurs on second `composer update` with 1.1.3. I think this is due to the code only being checked out for predis/predis the first time, but the second time it tries to patch phpunit but can't find the files which are in vendor/predis/predis/test.

[code]

composer install does the same thing.

I think its because the patches are in the composer.json for predis, but trying to patch phpunit, s

[2020-08-26 05:42] b1rdex commented on #632
@singularo could you please try removing vendors folder (`rm -rf vendor/`) and running `composer update` again? Please attach `composer.json` and `composer.lock` if the error still occurs.

[2020-08-26 07:31] nrk commented on #632
I'd also try executing composer using the `-vvv` flag for maximum verbosity, maybe we can get more details out of it.

[2020-08-27 13:52] nrk commented on #397
In the end we'll stick with the current behaviour of **not** loading a [phpiredis](https://github.com/nrk/phpiredis) based connection backend by default when the extension is loaded, users should specify which connection backend to use explicitly. That said I recently came up with an idea for a nicer and less cumbersome way to configure the client to use the two backends based on phpiredis, see #6

[2020-08-27 13:52] #397 closed

[2020-08-27 15:03] nrk commented on #510
Hi @steve75918,

`TTL` [is supported](https://github.com/predis/predis/blob/5e220a0b5787044764fc2159a767b9277a244d0f/tests/Predis/Cluster/RedisStrategyTest.php#L328) and works as expected when using redis-cluster with Predis.

See below for  the output of an interactive shell session reproducing the very same flow of commands used in you snippet:

[code]

[2020-08-27 15:03] #510 closed

[2020-08-27 16:48] nrk commented on #437
Hi @Berbe,

In the end there was nothing strange going on here, but let me explain by reproducing everything by using your snippet (just simplified by removing variables) inside an interactive shell and see the result:

[code]

Indeed both `HSET` and the first `ZADD` were executed by the transaction. Now let's see what happens with `redis-cli` trying to do the same on an empty database:

[code]

A

[2020-08-27 16:48] #437 closed

[2020-08-28 07:45] sgc-fireball opened #652 "Missing command LPOS"
https://redis.io/commands/lpos

[code]

[2020-08-28 07:58] nrk commented on #652
Hi @sgc-fireball, actually it's not just `LPOS` as we are missing all of the commands added in Redis 4, 5 and 6. Adding support for a missing command in a proper way [is not as immediate as it might seem](https://github.com/predis/predis/pull/593#issuecomment-671855512) so it could still take a bit longer to get Predis on par again with Redis, but in the meanwhile nothing stops you from using [`Pr

[2020-08-29 01:43] Berbe commented on #437
Oh wow, that is an oldie.

Thanks for the detailed answer, and having avoided an "RTFM" one (which, to be honest, would be justified there :oD).

Odd design decision, and the arguments thrown to back it up seem sketchy. What a circumvoluted way of actually saying "all that matters for Redis is speed, hence I cannot care less about safety nets"...
Redis is definitely more on the cache side of thing

[2020-08-29 13:10] nrk commented on #437
Better late than never :wink:

I think the confusion comes from the decision of having `MULTI` ... `EXEC` commonly referred to as _transactions_ when the only guarantee is about the atomicity of the __execution__ of commands queued inside a `MULTI` ... `EXEC` block. Even `DISCARD` is not a rollback, it's just a way to clear the commands previously queued by Redis. In a sense `EVAL` + `EVALSHA`  wi

[2020-08-29 13:32] nrk commented on #594
I'm assigning it for v2.0 for now but maybe this can be implemented as a bugfix in v1.1. Right now I'm just not sure that [removing this line](https://github.com/predis/predis/commit/d92f31dc66cd63c1f150891f2c40da75044df000#diff-e55f11b907debe0b57a114d0c38dc563R245) would be enough for a proper support at least regarding the configuration bits of the client.

[2020-08-29 14:03] nrk commented on #459
The problem actually is that you are using persistent connections (see `'persistent' => true` in your default parameters) when persistent connections should be handled with care as they can lead exactly to these kinds of issues.

On the server-side Redis keeps tabs of the current state of  each `MULTI` ... `EXEC` transaction on a per-client basis based on the state of the connection with the clien

[2020-08-29 14:03] #459 closed

[2020-09-01 08:21] fgm commented on #632
FWIW, had the issue, but adding a `"conflict" : { "predis/predis": "< 1.1.4" }` fixed it for me, thanks for the updates.

My project does not directly depend on predis, but it brought in by vimeo/vimeo-api, so adding a conflict felt more appropriate than a direct dependency.

[2020-09-03 17:20] nrk commented on #618
Fixed in #654.

[2020-09-03 17:20] #618 closed

[2020-09-05 14:46] nrk commented on #594
Fixed in 2e76410, fix will be shipped with v1.1.5 in a few days.

Please note that, **at least for now**, the common password used by sentinels (see `requirepass` in `sentinel.conf`) should be set explicitly with a `password` set for each sentinel, even if this password is the same. Passing it using the global `parameters` client options is not a good idea because these parameters are the **defaul

[2020-09-07 11:43] nrk commented on #643
I'm finally testing with actual code a new approach for the pipeline abstraction's internals in v2.0 using generators (yay for dropping old PHP versions!) and in my various tests to verify if the new design is actually practical and consistent (while giving more flexibility than before) I also tried to emulate the basic idea behind Deferred and in the end I think, unless I missed something along t

[2020-09-08 15:08] fmitchell commented on #632
I tried all of the suggestions above as I was installing https://gitlab.com/weitzman/drupal-test-traits on a project. The only thing that worked was pegging predis to `1.1.1`. After remove `vendor` and `composer.lock` and running `composer install`, everything worked fine.

If I did `composer require predis/predis:^1.1.3` and repeated the above steps, I was still seeing the patch error when phpuni

[2020-09-09 10:56] nrk commented on #643
Alright I'm tentatively adding this feature for v2.0, at least for pipelines. To be honest I can't say for plain transactions yet, ideally `Predis\Transaction\MultiExec` should be re-implemented from the ground up based on an internal design similar to what I envisioned for pipelines, that's what I was planning to do anyway so we'll see.

For now I'm targeting a more lightweight approach compared

[2020-09-10 15:13] nrk commented on #480
The second post already answered the original poster question, the rest seems completely unrelated so I'm closing this issue.

[2020-09-10 15:13] #480 closed

[2020-09-10 21:18] Dick-Masterson commented on #541
So if anyone else winds up here I think I've determined the issue, at least for me. And hopefully it can help a few others. I found out that AWS does not allow ANY outside connections to elasticache. You cannot connect to it from anywhere other than an instance hosted through AWS (like ec2) and it must also be in the same security group with the appropriate ports configured. If you are attempting

[2020-09-11 10:39] booooza opened #658 "Predis v1.1.5 with Redis Sentinels - No sentinel server available for autodiscovery."
**Describe the bug**
After updating to Predis v1.1.5 we were unable to connect to Redis Sentinels (v3.2.3)

**To Reproduce**
[code]

Gives us `No sentinel server available for autodiscovery.` After reverting to Predis v1.1.4 everything is working again.
Using `tcp://host0:port?password=secret` without using the password in global parameters client option does not work on our Redis server: `Predis\

[2020-09-11 10:56] nrk commented on #658
@booooza hmmm sounds strange, I tested it (I mean aside from just running the test suite) before shipping the release.

How are your sentinels and actual redis nodes configured? I mean are they both protected by a password and, if so, do they share the same password? Or is your password just for Redis nodes and sentinels are unprotected

Before 1.1.5 as far as I know there was no way to configure

[2020-09-11 11:04] nrk commented on #658
By the way would it be possible for you to post here the stack trace of the `Predis\Connection\ConnectionException` exception being thrown with the message `AUTH failed: ERR unknown command 'AUTH'`?

[2020-09-11 11:20] booooza commented on #658
@nrk we're using a redis enterprise cloud service so I don't have the exact configuration details. But as per you question I assume the latter is true (password just for Redis nodes and sentinels are unprotected) as I only get a single password.

[code]

The stack trace of the `Predis\Connection\ConnectionException` is the following (I've replaced host and ports):

[code]

[2020-09-11 11:24] nrk commented on #658
Thanks for the additional details, will try reproducing the issue in the afternoon. Thank you!

[2020-09-11 19:34] nrk commented on #658
There was indeed a bug, the `password` parameter from global parameters in client options was still being passed to sentinels when sentinels had no password set. Reverted the change and released v1.1.6 for now, will investigate for a proper fix.

Thank you again for reporting and sorry for the trouble!

[2020-09-11 19:34] #658 closed

[2020-09-11 19:40] nrk commented on #594
I'm re-opening this issue as I had to revert the change implemented in v1.1.5 and release v1.1.6. There was a bug as pointed out in #658 and after reviewing the mistake I noticed another bug only waiting to be discovered (we need to apply the password also [when a new sentinel is discovered](https://github.com/predis/predis/blob/v1.1.6/src/Connection/Aggregate/SentinelReplication.php#L301-L304) by

[2020-09-14 19:18] nrk commented on #643
Just a heads-up: I'm late on my plans as I was busy last week, nevertheless while I'm adding the last touches and polishing code for pipelines (almost ready to push a draft PR but still missing tests as they will require a ton of time and work) I started experimenting with transactions and at this point I think it will be indeed possible to share the same approach so we will probably have a `Predi

[2020-09-15 18:01] Berdir opened #660 "Using local patches for dev dependencies breaks projects that use cweagans/composer-patches"
**Describe the bug**

Follow-up of https://github.com/predis/predis/issues/632, which didn't fully address this issue

Adding patches to composer.json for dev dependencies seems incorrect to me, for two reasons:

a) The local patch files won't be found in the module, AFAIK composer-patches won't look there
b) Even if they would be found, the project is likely to use a different version of phpunit

[2020-09-15 18:09] tillkruss commented on #660
The patches are including in the repo now, did you happen to upgrade from 1.1.1 to 1.1.x by chance?

[2020-09-15 18:18] Berdir commented on #660
that's my point, even if they would be found, they wouldn't apply to a current version of phpunit.

[2020-09-15 23:05] tillkruss commented on #660
The replicated error:

[code]

[2020-09-16 00:30] tillkruss commented on #660
@Berdir Have you tried using `patches-ignore` to skip the Predis patches?

[2020-09-16 05:57] Berdir commented on #660
I have not, but it shouldn't be the responsibility of every project to work around this?

[2020-09-17 10:40] fgm commented on #660
@tillkruss could you suggest the recommended format of `patches-ignore` until a better solution can be found ?

[2020-09-18 14:00] jupitern opened #661 "Error while reading line from the server on long running cli script"
**Describe the bug**
Hi. I have a long running script in cli mode and I need a persistent connection to redis. I am connecting with the code bellow but from time to time (a few minutes interval) I get the error:
Error while reading line from the server. [tls://...]

**Versions (please complete the following information):**
 - Predis: 1.1.6
 - PHP 7.4
 - Redis Server 5.0.9
 - OS Debian 10

**Code s

[2020-09-18 14:57] smustgrave opened #662 "Missing phpunit patches"
Running composer update always generates
Deprecation Notice: strpos(): Non-string needles will be interpreted as strings in the future. Use an explicit chr() call to preserve the current behavior in /app/vendor/composer/composer/src/Composer/Util/RemoteFilesystem.php:234
Deprecation Notice: strpos(): Non-string needles will be interpreted as strings in the future. Use an explicit chr() call to pre

[2020-09-18 22:02] tillkruss commented on #662
Duplicate of #660.

[2020-09-18 22:02] #662 closed

[2020-09-18 22:06] tillkruss commented on #660
@fgm: That looks good.

@cweagans: Do you have any suggestions with this?

[2020-09-20 10:17] nrk commented on #661
@jupitern `persistent` is completely useless for long-running scripts, please read about what persistent connection resources are and their common use cases on [the PHP documentation](https://www.php.net/manual/en/features.persistent-connections.php)). What you need to do in your case is disabling the timeout on the underlying socket/stream resource, you can achieve that setting `read_write_timeou

[2020-09-20 10:28] nrk commented on #550
I'm closing this due to lack of feedback, feel free to re-open it if you have more details to share and are still interested in it.

[2020-09-20 10:28] #550 closed

[2020-09-20 10:41] nrk commented on #447
I'm closing this as it won't be implemented for v1.1, using your own custom pipeline is easy enough like demonstrated by your PR so such cases can be easily covered..

That said in v2.0 we're going to use a completely different approach for pipelines and this behaviour is going to be supported, developers will actually be able to customize the underlying behaviour of a pipeline to a greater extent

[2020-09-20 15:01] nrk commented on #363
The failure in `PipelineTest::testIntegrationWithServerExceptionInCallableBlock` when using `PhpiredisStreamConnection` and `PhpiredisSocketConnection` was due to a bug in both connection backends: when closing the connection we must clear any pending buffered replies in the reader resource otherwise we end up reading previous queued responses after the next `connect()` when the same connection in

[2020-09-20 15:01] #363 closed

[2020-09-21 05:58] iijiang commented on #660
patches-ignore seems not working on cweagans/composer-patches 1.6.7 @cweagans

[2020-09-21 10:32] nrk commented on #643
The new pipeline abstraction is live on #663.

I'm going to post a gist with my proof of concept for `Predis\Pipeline\DeferredPipeline` tomorrow (an actual and more curated PR will follow when #663 will be considered stable enough in terms of both code and internal design) but at least we can start playing with stuff and see how far we can take this.

I still have to find some common grounds betwe

[2020-09-21 21:00] jupitern commented on #661
Hi @nrk .
Thanks for your answer. Is it possible to leave the connection open indefinitely using tcp connection?
At this point I am capturing the Predis\Connection\ConnectionException and reconnecting.

[2020-09-22 09:07] nrk commented on #661
_Indefinitely_ does not exist, connections can and do break. Aside from disabling the timeout on the socket you cannot do anything about that, so you just have to deal with it by reconnecting when the connection is closed (accidentaly due to an error of forcibly by the remote host). If you need a slightly more complex logic to handle reconnections, you can wrap or subclass the client and roll your

[2020-09-22 09:08] jupitern commented on #661
already done that. thanks!

[2020-09-22 09:08] #661 closed

[2020-09-22 16:43] pesseyjulien opened #664 "Predis\Connection\ConnectionException: `AUTH` failed: ERR wrong number of arguments for 'auth' command"
Receving the following error after upgrading to 1.1.6 :

 Predis\Connection\ConnectionException: `AUTH` failed: ERR wrong number of arguments for 'auth' command [redis://ec2-54-xx-164-xx.compute-1.amazonaws.com:17669]

Whereas my ENV variable is :

redis://X:XX@ec2-54-158-164-114.compute-1.amazonaws.com:17669

What is wrong ?

Thanks in advance,
Julien

[2020-09-22 17:22] nrk commented on #664
Hi @pesseyjulien,

What is the `X` that I see in the username portion of the userinfo fragment of your URI string?

I bet it's just placeholder with no real meaning. Until Predis 1.1.5 the username was ignored because Redis supported only a password-based authentication but with Redis 6.0 things changed with the introduction of ACL permissions which require both a username and a password for authe

[2020-09-22 20:46] nrk commented on #643
Just posted my proof of concept [on this gist](https://gist.github.com/nrk/90f0eeedb368e384867a679656f89261), see also the included `README` file. It is far from being definitive but it's a starting point at least, I avoided a full-fledged repository because I just wanted to share the code and give everyone an idea of what I'm planning, ideally this will become a proper PR in the future. I'll keep

[2020-09-23 08:21] pesseyjulien commented on #664
Got it !

The X were placeholder indeed, to not display my username/password :)

Thanks,
Julien

[2020-09-23 08:21] #664 closed

[2020-09-24 08:54] aditya-rewari-cb commented on #33
Any drawback or caution associated with setting timeout=0 at redis.conf ?

What I suspect is ..as connections will never drop
Redis utilisation will stay high

[2020-09-24 08:56] aditya-rewari-cb commented on #33
How to fix this contract.. where to look for ?

[2020-09-24 08:59] nrk commented on #33
@aditya-rewari-cb actually `timeout = 0` in redis.conf is the default since Redis 2.4 (released a few years ago) so I'd say there are no drawbacks.

[2020-09-24 09:51] aditya-rewari-cb commented on #33
I am using Redis with **daemon proceses** (laravel supervisor workers), as well as , with **regular caching**
Any caution for using 'read_write_timeout' => -1 ?
I wanted to confirm for any possibility of breakage or bug.. in my regular caching usage of Redis, owing to this change !

Thanks !

[2020-09-28 12:44] MichaelMenge commented on #372
how about setting the locale to "C" or "en_US.utf8" and restoring it to the original before returning to the caller

[2020-09-30 18:12] cweagans commented on #660
Local patches really shouldn't be used by projects that can be pulled in as a dependency in the first place. I recommend either applying those patches in your travis job manually or putting the patches somewhere public where they can be downloaded (maybe Gist? worked pretty well like this: https://github.com/cweagans/mcrypt-polyfill/blob/d261945011d06273fa3221e68cb2b7e75a40b3ee/composer.json#L30).

[2020-09-30 19:56] roborourke commented on #660
Ran into this issue as well. There's a `patches-dev` option in this composer plugin https://github.com/vaimo/composer-patches/blob/master/docs/USAGE_BASIC.md that might help.

Also would be good to add the version constraints as well if you don't switch to applying the patches during the travis builds eg:

[code]

I see 2.x has fixed this issue, do you think this could be patched for v1 as well? I

[2020-09-30 21:14] Berdir commented on #660
can confirm that patches-ignore  works, but that's not a solution, forcing everyone else to work around this is really confusing.

@cweagans making the patches public won't help here, the patches here are for making old, unsupported versions of phpunit php7+ compatible. They won't apply for anyone who is e.g. using Drupal 8 and most other projects as they are already on newer phpunit versions that

[2020-09-30 23:30] jimbonator commented on #643
Apologies for not getting a chance to study your gist sooner.  I'm happy to see most of the features I implemented in `Deferred` are present in your proof-of-concept.

From my casual glance-over, I'm unsure why `asArray()` and `asGenerator()` require special treatment.  Couldn't they simply register themselves as transformers directly, rather than setting internal flags and adding them during fina

[2020-10-01 00:29] tillkruss commented on #660
@nrk: Do you have a preference to storing the patches accessible with HTTPS, or patching the files as suggested via Travis?

[2020-10-01 00:30] tillkruss commented on #660
@predis/team Anybody up for a PR to apply the patches in Travis itself?

[2020-10-05 19:37] nrk commented on #660
@tillkruss anything is fine to me as long as it fixes this problem but I'd prefer a solution that does not require some voodoo magic to have tests up and running locally, aside from CI on Travis... because yeah I do run tests locally on older PHP releases for v1.1.

[2020-10-07 18:29] amran08 commented on #375
@nrk

"but you can customize it by using the public method SentinelReplication::setRetryWait() "

Shouldn't I able to pass this as connection property ?

[2020-10-15 11:36] tanqinwang opened #667 "Frequent errors sayings "Error while reading line from the server.""
When migrate php from 5.6.40 to 7.4.7, php-fpm got connect lost frequently, especially in use pipeline command.
But with php 5.6.40, this happen less.

**Versions:**
 - Predis: 1.1.3
 - PHP 7.4.7
 - Redis Server 2.8.24
 - Ubuntu 18.04

**Predis settings**
timeout: 0.5
read_write_timeout: 1
persistent: true

redis use Amazon ElastiCache standalone mode

[2020-10-28 09:02] gcleaves opened #669 "CLIENT REPLY SKIP or OFF freezes PHP"
$client->client('reply', 'skip') just causes the PHP script to freeze. I guess phpredis is waiting for a reply that will never come?

Is there a work around to this? I want to pipeline 2M items and don't need the response.

(Github auto tagged this as a bug. I'm not claiming it's a bug.)

[2020-11-11 10:37] AkashicSeer commented on #438
Sarcasm is expected from assholes

[2020-11-11 10:46] nrk commented on #438
@AkashicSeer except it wasn't sarcasm and I really did have to search for an answer myself at that time, and apparently it was quite easy to find one 🤷 Have a good day.

[2020-11-18 10:06] 4n70w4 opened #671 "Failed to apply the patch. Halting execution!"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Run command `composer install`
2. See error

[code]

**Expected behavior**

No error.

**Versions (please complete the following information):**
 - Predis: 1.1.6
 - PHP: 7.4.7

[2020-11-18 10:11] 4n70w4 commented on #671
The same error after `rm -rf vendor/` and `composer install`

[2020-11-18 10:19] 4n70w4 commented on #671
This problem appeared in version 1.1.2. No problem with `predis/predis:1.1.1`.

[2020-11-18 10:24] nrk commented on #671
I guess this is related to #660.

[2020-11-19 10:36] claudiu-cristea opened #672 "Release v1.1.7"
**Is your feature request related to a problem? Please describe.**

We're on the latest `v1.1.6` and, in order to avoid the patching, which is erroneous because `./test` is not included in the stable package, we have to do this:
[code]

But the `main` branch always has the fix.

**Describe the solution you'd like**

Release `Release v1.1.7`.

**Describe alternatives you've considered**

n/a

**Add

[2020-11-19 14:58] nrk commented on #672
@claudiu-cristea thanks but we already know that this should be fixed, see (and maybe join?) the ongoing discussion on #660 on this matter. By the way it's not that `main` has a fix, it's simply that `main` does not support older PHP releases like we do for `v1.1` so with the code in `main` there's no need to patch PHPUnit to have tests running starting from PHP 5.4 up to PHP 8.0.

[2020-11-19 14:58] #672 closed

[2020-11-19 15:04] nrk commented on #660
Got extremely busy once again unfortunately so I had no time in the last 6 weeks or so.

So in the end there's no solution for this issue? Maybe an acceptable workaround would be to apply these patches _manually_ (using an utility script at least) instead of relying on composer patches if we want to keep testing `v1.1` test on PHP <= 7.2?

[2020-11-19 15:07] nrk commented on #671
I'm closing this issue just to concentrate focus the discussion on one thread.
@4n70w4 feel free to chime in on #660 if you have ideas, thanks!.

[2020-11-19 15:07] #671 closed

[2020-11-19 22:53] tillkruss commented on #660
@nrk: Yes, that's the best and relatively easy solution. It seems that very few people experience this issue.

I've been slammed as well, anyone up for a PR?

[2020-11-20 11:19] roborourke commented on #660
If no one has picked it up by then I'll take a stab at it on Monday afternoon.

[2020-11-27 17:29] roborourke commented on #660
Bit later than I hoped but I have what I believe is a working PR up at #673. It does require the `patch` utility to be available on the system however so Windows users might need to use WSL or gitbash.

[2020-12-13 11:30] PetengDedet commented on #390
You saved my day

[2020-12-23 11:03] rahulpragma opened #674 "How to set AWS Redis Primary Endpoint & Reader Endpoint?"
**Describe the bug**
Primary Endpoint should be helpful for both read/write but Reader Endpoint is a read-only replica of Primary Endpoint which would be helpful only for the read operations and keeps Primary Endpoint for write only so that the response time would be faster as Primary Endpoint would only be useful for writing operations and thus less busy.

**To Reproduce**
I am able to set only o

[2021-01-08 14:19] Mllexx commented on #390
This worked for me thanks.

[2021-01-27 05:17] Mohit8982 opened #675 "I am getting this error can anyone help?"
Parse error: syntax error, unexpected '?' in C:\wamp64\www\php_redis\redis-session-php\modules\predis\src\Command\RedisFactory.php on line 42

[2021-01-28 00:33] warrenca commented on #480
Hi @dfontenot,

I just stumbled across this problem and I'm not using any framework. I'm using Predis v1.1.3 and my setup is an AWS Elasticache Redis cluster mode on with TLS and authentication. My connection code is below

[code]

[2021-01-28 00:40] dfontenot commented on #480
@warrenca what I ended up doing was modifying the code in a forked version of predis. I was never able to get mainline predis to work for our use case. However, I have not tried any new versions of predis. Which version are you using?

[2021-01-28 01:03] warrenca commented on #480
@dfontenot I'm using Predis v1.1.3 and AWS Redis v6 cluster mode on, with encryption at rest (this could be the AUTH) and with encryption in transit (this could be the TLS/SSL).

Looking at Predis v1.1.1 https://github.com/predis/predis/blob/v1.1.1/README.md, which you said you are using from your original question. Global `parameters` feature is available, which is exactly what I'm using.

[2021-01-28 01:14] dfontenot commented on #480
Ok. If I find some time I may be able to rebase my chances on top of the latest version and submit it as a merge request.

[2021-01-28 12:17] PatrickRose opened #676 "Disconnecting with an invalid stream triggers an error"
Similar to #34 we have an issue where our resource is invalidated during our test suite. We're not using a super global and explicitly turn off backing up of global variable so PHPUnit _shouldn't_ be causing issues with serialising the `predis` client.

I can see that there might be a noticable overhead of doing an `is_resource` check inside `isConnected`, but would sending a pr that doesn't call

[2021-01-29 11:23] sanarena commented on #259
I've finally managed to connect to redis cluster without getting MOVED issue when used connection string like this:

`
$redis = new Predis\Client(['tcp://hostname.example.org:6379'], ['cluster' => 'redis']);
`

[2021-02-02 05:52] bernardwiesner opened #677 "Cannot set timeout for redis connection using sentinel"
**Describe the bug**
When using sentinel configuration there is no way to specify the timeout for the communication between sentinel (predis) and redis. The only timeout that can be set is the timeout between the client and sentinel.

Always the default timeout of 5 seconds is used if the redis hosts are unreachable by sentinel, and sentinel will attempt 20 times to connect, every times waiting up

[2021-02-05 00:11] #667 closed

[2021-02-09 09:06] tarjei commented on #677
I got a similar bug where I cannot tell sentinel that it must use tls for the connections to the redis hosts.

[2021-02-11 22:29] ivanpepelko commented on #675
Are you using php version ^7.2?

[2021-02-19 20:24] jimbonator commented on #675
I assume you're using a recent version of Predis?  That [code](https://github.com/predis/predis/blob/338ba6d73d1293259953793a2c2b41e509b964c1/src/Command/RedisFactory.php#L42) in `master` is:
[code]
[Nullable return types](https://wiki.php.net/rfc/nullable_types) (the `?string`) were added in [PHP 7.1](https://prototype.php.net/versions/7.1/).  Which version of PHP are you using?

[2021-02-22 17:01] tillkruss commented on #675
@Mohit8982: if you're on an older PHP version, use the `v1.1 branch`.

[2021-02-22 17:01] #675 closed

[2021-02-24 17:02] gbgelado opened #682 "ERROR: Command 'OFFSETGET' is not a registered Redis command"
**Describe the bug**
I have an error warning and I haven't found anything about this type of problem. Can someone please give me a light?

[code]

**To Reproduce**
I have a command in Laravel that exports data from one database (treated) to another bank that is used for reporting. This happens in a queue, so it goes through Redis.

I noticed that these errors happen only when the FPM processes use

[2021-02-25 22:00] StagasaurusRex commented on #667
@tanqinwang Were you able to solve this? I'm experiencing something similar

[2021-02-26 01:44] tanqinwang commented on #667
updated the redis to 6.x version

[2021-03-30 20:39] smustgrave commented on #660
Will this be fixed in the next predis release?

[2021-04-02 16:45] BuyOwnEx opened #687 "ACL NOPERM Exception Support for PubSub"
**Describe the bug**
When I try to SUBSCRIBE to channel, on which I have no permissions due to ACL politics, I get error:

Predis\Response\Error Object
(
    [message:Predis\Response\Error:private] => NOPERM this user has no permissions to run the 'subscribe' command or its subcommand
)

But this error is not catched in .\src\PubSub\Consumer.php line 117

**To Reproduce**
Steps to reproduce the be

[2021-04-04 17:42] tillkruss commented on #660
@smustgrave: Yes, I'll tag a new release as soon as I get Travis working.

[2021-04-04 17:42] tillkruss commented on #660
Closed via #673.

[2021-04-04 17:42] #660 closed

[2021-04-12 22:16] pluc opened #689 "Decent Documentation"
I'm trying to figure out the return values of various operations (get, publish) but there is no documentation that includes this information, and the source is such that I can't find the relevant methods.

**Describe the solution you'd like**
I'd like standard documentation that says what each method returns, its type and what it stands for.

**Describe alternatives you've considered**
Looking at

[2021-04-12 22:42] tillkruss commented on #689
If your IDE doesn't show you method comments, you're welcome to contribute your feature request yourself here: https://github.com/predis/docs

There even is a first PR with some structure: https://github.com/predis/docs/pull/1

[2021-04-12 22:42] #689 closed

[2021-04-14 09:42] zhangtiedong0912 opened #690 "error while reading line from the server."
**Describe the bug**
A clear and concise description of what the bug is.

I want to init redis client , and i can init success by other language , but i init failed by predis.

**To Reproduce**
Steps to reproduce the behavior:
1. Run command '...'
2. See error

`Predis\Connection\ConnectionException::__set_state(array(
   'connection' =>
  Predis\Connection\StreamConnection::__set_state(array(

[2021-04-14 09:46] zhangtiedong0912 commented on #690
i want to connect redis and this redis on the Azure

[2021-04-15 02:51] zhangtiedong0912 commented on #690
@nrk  hi could you please give some advice?

[2021-04-15 09:48] #690 closed

[2021-04-17 22:00] zaheerkzz commented on #295
i have working php laravel fine on local machine but when deploy on server it showing following error: Predis \ Connection \ ConnectionException (110)
Connection timed out [tcp://185.151.30.172:6379]
can anyone help, i deployed my code on a sharedhosting

[2021-04-24 15:04] ndoulgeridis opened #691 "Predis Issue Undefined array key 0"
I am using doctrine and class metadata caching. All is fine except I get this warning

`PHP Warning:  Undefined array key 0 in /app/vendor/predis/predis/src/Command/Command.php on line 107`

This is a normal warning because when I go through this line of code I see for example:

![image](https://user-images.githubusercontent.com/3415953/115801543-acfc8280-a3e5-11eb-9038-a9d8a3907e51.png)

So there

[2021-04-26 07:34] xlcrr opened #692 "Zdiff not found?"
**Describe the bug**
Looking to use `zdiff` command in Laravel 8

**To Reproduce**
Steps to reproduce the behavior:
1. Run command 'help zdiff'
2. Nothing found. When using the cli `ERR unknown command 'zdiff'`

**Expected behavior**
The command should be found

**Versions (please complete the following information):**
 - Predis: 1.1.7
 - PHP 7.4.16
 - Redis Server not sure
 - OS Ubuntu 18.04.3 LT

[2021-04-26 08:16] xlcrr commented on #692
https://github.com/predis/predis/pull/315

[2021-05-02 23:46] mkopinsky commented on #664
I bumped into this when upgrading to predis >= 1.1.5. Heroku redis by default was setting the REDIS_URL environment variable of `redis://h:<password>@ec2-1-2-3-4.compute-1.amazonaws.com:17549` with a hardcoded (fake) username of `h`. I was able to temporarily get past it by editing the environment variable to remove the fake username, and permanently by deleting the Heroku Redis add-on and recreat

[2021-05-06 12:21] edslourenco commented on #490
Hi @nrk, I'm trying to send the parameters as you said, but they don't work. They only work by sending with hosts

Working:
[code]

Not working:
[code]

Should it work both ways?

[2021-05-12 11:24] ndoulgeridis commented on #691
Just created a new pull request https://github.com/predis/predis/pull/693

Please merge it asap

[2021-05-14 19:34] ifnull commented on #541
I received the same error as a result of missing the `php-mbstring` PHP extension.

[2021-05-19 09:25] qmegas opened #694 "Pipeline performance degradation"
Hi,

In my app I execute many write commands using pipeline. I wrote proxy class for `\Predis\Pipeline\Pipeline` to flush pipeline each 10K commands.

[code]

I found out that when sending millions of commands on each flush a performance of pipeline is degradating over the time. When checking `$this->pipeline->execute();` time then I get something like that:

[code]

x52 speed difference between f

[2021-05-19 11:05] qmegas commented on #694
Found the problem! For some reason when running the code via Apache it acts like that, but when running via CLI it works super fast without performance degradation.

So libraries code and redis are good. Apache is bad! :)

[2021-05-19 11:05] #694 closed

[2021-05-22 18:24] pratik-nickelfox commented on #390
Thank you so much.. :)

[2021-05-31 04:59] khacnha opened #695 "AWS ElastiCache Redis can't connect from Laravel, show error: No connections available in the pool"
Setup Laravel 8.x cache with AWS Elasticache Redis cluster:

i tried connecting Elasticache Redis cluster from redis-cli, it works with Ping pong.

But not working with laravel: (Error: **No connections available in the pool**)

[![Error][1]][1]

And this is my config:
[code]
I have tried connecting Elasticache with Redis cli in Ec2, and it can connect:
[![enter image description here][2]][2]

And

[2021-05-31 19:13] alexolliveira opened #696 "No connection can be made"
Fatal error: Uncaught Predis\Connection\ConnectionException: No connection can be made because the target machine has actively rejected them. [tcp: //127.0.0.1:6379] in vendor\predis\predis\src\Connection\AbstractConnection.php on line 155.

My PHP Code:

Predis\Autoloader::register();
$remoteRedis=[
  'scheme' => 'tcp',
  "host"=>"127.0.0.1",
  "port"=>6379,
  "read_write_timeout"=>0
];
$redis =

[2021-06-02 02:25] khacnha commented on #695
UPDATE:
Changed with using **phpredis ** it works:

1. Install php-redis in server:
[code]
2. Change config:

[code]

[2021-06-03 16:24] balsanka opened #698 "Predis\ClientException No sentinel server available for autodiscovery."
I want to use Predis with laravel 8 and tried to config  trough  'replication' => 'sentinel' config option.
But It's all doesn't work any configuration variants.Here is one example:

    'redis' => [

        'client'  => env('REDIS_CLIENT', 'predis'),
        'options' => [
            'replication' => 'sentinel',
            'service'     => 'mymaster',
            'parameters'  => [

[2021-06-03 16:40] Miteugene opened #699 "Please add count argument to lpop"
lpop command has count argument https://redis.io/commands/lpop
This feature would be very useful.
Thanks!

[2021-06-03 16:47] tillkruss commented on #699
Feel free to open a PR with the change 👍

[2021-06-03 17:01] balsanka commented on #698
Seems like it doesn't support **sentinel** with **credentials** :( Any solutions?

[2021-06-08 20:53] KryDos commented on #699
Seems like predis, fortunately, don't require any changes when number of arguments changes for a command. The only thing that could be done is a test case to cover that new argument.

[2021-06-21 20:49] #696 closed

[2021-06-26 02:10] alexolliveira opened #702 "Fatal error: Uncaught on AbstractConnection.php"
Help! I've tried starting Redis since May, but it always shows the same error.
**ERROR:**
Fatal error: Uncaught Predis\Connection\ConnectionException: No connection can be made because the target machine has actively rejected them. [tcp: //127.0.0.1: 6379] in vendor \predis\predis\src\Connection\AbstractConnection.php on line 155

**CODE:**
$client = new Predis\Client('tcp://127.0.0.1:6379');
$cli

[2021-07-06 01:33] jackbaron commented on #33
@aditya-rewari-cb I have a same problem. You found a solution for it?

[2021-07-06 05:03] aditya-rewari-cb commented on #33
I have vague memory of this now!
But, we went ahead with read_write_timeout=0

[2021-07-08 05:57] mattjamesaus opened #703 "Elasticache Cluster Mode - Throws Connection Errors During Update/Maintenance"
**Describe the bug**
We're currently running an AWS Elasticache Redis Cluster with multiple shard and nodes which works great, until we do a scheduled update event where we start receiving a lot of ```Predis\Connection\ConnectionException: Connection timed out [tls://clustercfg.##############.eh01hp.use1.cache.amazonaws.com:6379]``` when one of the nodes in the shard get updated./patched.

It appe

[2021-07-09 18:30] tillkruss commented on #703
Thanks for reporting this, @mattjamesaus. Can you submit a PR with a solution?

[2021-07-09 18:31] #695 closed

[2021-07-09 18:31] #691 closed

[2021-07-09 18:31] tillkruss commented on #698
Thanks for reporting this, @balsanka. Can you submit a PR with a solution?

[2021-07-09 18:32] #699 closed

[2021-07-09 18:32] tillkruss commented on #702
[code]

[2021-07-09 18:32] #702 closed

[2021-07-11 01:21] mattjamesaus commented on #703
Well it doesn't necessarily need to be implemented in predis, it could be up to the wrapped code to enumerate these values. I guess what I'm trying to determine, is the aforementioned issue then expected result and if so that's ok.

I think it could be dangerous if this behaviour is changed if others are expecting it to behave consistently.

It could be a case of just updating the doc to call this

[2021-07-15 15:13] lonnylot commented on #587
Hi all,

I realize I'm late to the game, but I wanted to get an update on PHP version support and v2.x timeline.

I ask because Laravel 9.x is due out in ~January and it is going to be using Symfony 6.x. Symfony 6.x requires PHP >= 8.0.2.

Right now Laravel projects risk getting stuck on Laravel v8.x if they use predis. Predis may also runs the risk of being dropped as a supported Redis driver fro

[2021-07-15 15:22] b1rdex commented on #587
IIRC, v1 already supports php 8.

[2021-07-15 15:25] lonnylot commented on #587
@b1rdex Oh awesome - sorry - I was going by the discussion in this issue. Thanks for the quick response!

[2021-07-15 16:44] tillkruss commented on #587
@lonnylot We'll make sure 1.x will support PHP 8.1 as well.

[2021-07-19 06:30] mr-1024 opened #705 "incr and incrBy"
incr  和incrBy 传递同样的参数时，结果和incrBy 使用一样？

[2021-07-19 16:27] #705 closed

[2021-08-24 05:17] IonutRealDevs opened #707 "Custom exceptions"
Hello, i have this code:
[code]

Right now, this code shows this:
[code]

Because of that warning from redis, my app crashes. I want to do something else in catch if the connection is not established. What i'm trying to do is to step over and get data directly from database if redis is not connected or it fails to connect, but in my app i receive that warning and the app crashes.

[2021-08-24 17:24] #707 closed

[2021-08-25 06:43] przemyslaw-lapinski commented on #682
+1

[2021-09-04 23:36] Geolim4 opened #709 "ClientInterface::setex() is supposed to return int but actually returns \Predis\Response\Status"
**Describe the bug**
I think that some methods are wrongly described in `ClientInterface`  in `@method` annotations.
This actually cause me lot of issues with Phpstan due to bad method typing.

Can you update the interface and provide the good return type hints please ?

**To Reproduce**
Steps to reproduce the behavior:
Explained above

**Expected behavior**
Good typed method that actually match t

[2021-09-08 16:05] #709 closed

[2021-09-11 13:03] hanweimin opened #711 "Maximum execution time of 30 seconds exceeded"
my config option
Array
(
    [exceptions] => 1
    [prefix] => sjzj:
    [cluster] => redis
    [parameters] => Array
        (
            [database] => 0
            [password] => xxxxxxxxxxxxxxxxxx
        )
)

nodes option
Array
(
    [0] => tcp://10.103.16.12:6379
    [1] => tcp://10.103.0.10:6379
    [2] => tcp://10.103.12.11:6379
    [3] => tcp://10.103.6.12:6379
    [4] => tcp://10.103.12.

[2021-09-11 13:11] hanweimin commented on #602
hi,  I have a problem with the redis-cluster connection. Can you see a configuration option here for my reference

thanks

[2021-09-12 15:03] tillkruss commented on #711
Try setting a timeout of 5s and see if you get an error instead.

[2021-09-12 15:03] #711 closed

[2021-09-12 15:12] hanweimin commented on #711
When I try to get 1000 pieces of data from 2000 pieces of data, the whole process will take about 25 seconds, which is too slow

[2021-09-12 22:08] tillkruss commented on #711
Ah, then you must increase your PHP timeouts.

[2021-09-13 06:06] hanweimin commented on #711
What I mean is that it will take such a long time to pass for set or get 1000 pieces of data. This is an abnormal phenomenon; it is not a question of whether to modify the PHP execution time.

If I change to a single point of redis, for set or get 1000 data, the process can be completed in an instant

[2021-09-13 14:00] tillkruss commented on #711
You could try using Blackfire to analyze whether Predis is slow or your Redis Cluster response.

[2021-09-29 10:08] driesvints commented on #587
@tillkruss is there any news on PHP 8.1 support yet? Release date is approaching now : )

[2021-09-29 16:43] tillkruss commented on #587
I think we fixed all issues in #712, but I'm looking into why Travis isn't running right now.

[2021-09-29 16:45] driesvints commented on #587
Sweet. @tillkruss would be cool if we could get that tagged soon!

[2021-09-30 16:51] tcagkansokmen opened #714 "stream_socket_enable_crypto(): SSL operation failed with code 1. OpenSSL Error messages: error:14090086:SSL routines:ssl3_get_server_certificate:certificate verify failed"
Suddenly I started to get that error,

stream_socket_enable_crypto(): SSL operation failed with code 1. OpenSSL Error messages: error:14090086:SSL routines:ssl3_get_server_certificate:certificate verify failed
Illuminate\Foundation\Bootstrap\HandleExceptions::handleError
vendor/predis/predis/src/Connection/StreamConnection.php:246

Whats wrong with It?
I can connect to project from my local. But n

[2021-10-03 17:56] tillkruss commented on #714
Are you using PHP 8.1?

[2021-10-08 18:27] fedorovmixail opened #715 "Error while reading line from the server. Again"
Hello!
I saw this (https://github.com/predis/predis/issues/33) very similar issue, but such method doesn't work.

For example, this code throw such error -> ```Fatal error: Uncaught Predis\Connection\ConnectionException: Error while reading line from the server. ```
[code]

I set ``` 'read_write_timeout'  => -1 ```, but it doesn't work.

=========================================================

I

[2021-10-23 07:51] makhnanov opened #716 "Deprecated: Return type of Predis\Client::getIterator() should either be compatible with IteratorAggregate::getIterator()"
**Describe the bug**
Deprecated: Return type of Predis\Client::getIterator() should either be compatible with IteratorAggregate::getIterator(): Traversable, or the #[\ReturnTypeWillChange] attribute should be used to temporarily suppress the notice in /var/www/html/vendor/predis/predis/src/Client.php on line 518

**To Reproduce**
Steps to reproduce the behavior:
Create new Predis\Client() in PHP 8

[2021-10-27 10:58] hanweimin opened #717 "When i used pipeline(), get error MOVED 6730 x.x.x.x:6380"
hellow, i used cluster by predis,

used:

       $redis = Predis::getInstance()->redis('vip');
       $key = 'save:search:recommend';

       $redis->pipeline()
            ->sadd($key, ['789', '6786786'])
            ->expire($key, 10)
            ->execute();

get errors

error info:
#0 [0]ServerException in Pipeline.php line 102
MOVED 6730 x.x.x.x:6380
     * @param ErrorResponseInterface $resp

[2021-10-30 01:18] #717 closed

[2021-11-01 13:41] MCKLtech commented on #390
+1 for adding REDIS_CACHE_DB equal to zero in the .env file (I'm using Heroku)

If anyone could explain why this would be the case, I'd be curous.

[2021-11-10 12:04] lescha1983 opened #719 "wrong php dock"
https://github.com/predis/predis/blob/4c1aada5aebf0afde266b512ed069f822148c3a2/src/ClientInterface.php#L93

[2021-11-10 12:09] #719 closed

[2021-11-10 14:55] matthewswain opened #720 "Gracefully handle Redis failovers"
**Is your feature request related to a problem? Please describe.**

I run an AWS ElastiCache Redis instance with multi-AZ enabled, i.e. a read/write primary node with a read-only replica (and auto fail over enabled). When failing over, long running processes retain their open connections to what was the primary node, but since it is now the read-only replica this results in many instances of `Pred

[2021-11-11 10:35] MPJHorner commented on #507
We had been having issue.
After check the above and also checking our predis version change, it turns out it was just that we had been filling all the memory.
We had been using Laravel and our TTL for sessions was way to high + some DDOS attack meant it was completely full.
Either drop the TTL to 1 day so all those attack sessons drop off or increase the memory should do the trick. 👍

[2021-11-11 16:10] tillkruss commented on #720
That sounds good. Can you target the v2.0 branch?

[2021-11-16 18:56] webspecialist221 opened #721 "ERR wrong number of arguments for 'mget' command {"exception":{}}"
**Describe the bug**
i am trying to run the laravel project where i got this issue. I tries too much to solve this. i am stuck here since from 1 NOVEMBER. 2020. i need help in this issue. i don't know that it's predis issue or what.

[2021-11-16 20:37] tillkruss commented on #721
Hi! You're not using `MGET` correctly. It's not an issue with Predis.

[code]

[2021-11-16 20:37] #721 closed

[2021-11-19 10:36] kgasienica opened #722 "Cannot use object of type Predis\Response\Error as array"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Setup 3 sentinels, 1 master redis, 1 slave redis.
2. Make master and slave under password (requirepass XXX)
3. Try to set a KEY with Client while not providing a password, example:
[code]

**Expected behavior**
A proper Exception / Error / Response.

**Versions (please complete the following information):**
 - Predis

[2021-11-22 17:07] tillkruss commented on #722
What do you get when you execute `ROLE` directly on your Sentinel?

[2021-11-22 18:35] kgasienica commented on #722
[code]

[2021-11-22 19:07] tillkruss commented on #722
Could you post exactly what you're getting here in `SentinelReplication.php:533`

[code]

[2021-11-23 14:08] kgasienica commented on #722
And this is the place :)
[code]
[code]

[2021-11-23 14:22] kgasienica commented on #722
That's the right place :) I have never contributed before to any open source projects in my life :) So it was a pleasure.

If you are intrested, I got:
[code]

[2021-12-01 20:29] kdambekalns commented on #716
Oh, I should have tried the current version first. :) In fact v1.1.8 already fixes this via #706.

And as is mentioned there, adding a proper return type would break compatibility with PHP 5. If that is still a thing is a different story, but I am happy now. ;)

[2021-12-02 20:06] #722 closed

[2021-12-08 14:35] pimjansen opened #727 "PHP 8.1 support"
Hey,

As mentioned in other commands, last september PHP 8.1 compatibility has been added via:
https://github.com/predis/predis/pull/712

However there is still no release of the package in the 1.x stream. Since PHP 8.1 has been released a while ago when can we expect the actual tag?

**Update**
I was a bit too soon and it seems it is still not compatible:

[code]

Best

[2021-12-08 17:07] tillkruss commented on #727
Yes there is, the fixes are included in v1.1.9.

Can you submit a fix the session handler, if you're currently experiencing that on v1.1.9?

[2021-12-09 08:43] BridgeTrollPW commented on #594
Hey there, is there currently a workaround for sentinels using passwort authentication?

[2021-12-09 13:35] pimjansen commented on #727
Will see if i can do that. But it seems it lacks test support in that case as it passes for 8.1

[2021-12-15 19:08] theilig opened #728 "set slots is slow when there are many masters"
**Is your feature request related to a problem? Please describe.**
Currently, setSlots uses getSlotsMap, which returns a new copy of
the existing slotsMap. Because setSlots is called for each master,
the array copy becomes prohibitively expensive for clusters with
a large number of masters.

**Describe the solution you'd like**
Passing the existing array by reference would speed up the addition of

[2021-12-16 16:01] pimjansen commented on #727
@tillkruss im reviewing the issue but there is already an issue with PHPUnit which has a different interface definition for 9.x which is not compatible with the existing implementation.

Since there is a 5.3 support range available i have no idea which way you guys want to go with this?

The first thing that will popup is:
[code]

[2021-12-16 16:28] tillkruss commented on #727
I'm not sure what you're asking. Were you able to find a PHP 8.1 related issue?

We apply a bunch of patches to PHPUnit: https://github.com/predis/predis/tree/v1.1/tests I would not try to run those local 😉

[2021-12-16 17:41] pimjansen commented on #727
Yeah the issue is there on the session handler but i thought it would be the way to go to run the tests on 8.1 to review if all is ok after the change.

[2021-12-20 08:39] #727 closed

[2021-12-22 09:49] frutality commented on #720
I would gladly help with testing this feature.

@matthewswain by any chance do you mean Laravel Horizon by third party application?

[2021-12-28 20:44] RobertEcker commented on #716
I use PHP 8.1.1 and the latest predis ... there is still this error for me?!

[2021-12-29 16:52] tillkruss commented on #716
Upgrade to v1.1.8.

[2021-12-29 16:52] #716 closed

[2021-12-29 17:11] RobertEcker commented on #716
@tillkruss 1.1.8? isn't the master already 2.0 or do you mean downgrade to 1.1.8? or what should I upgrade to 1.1.8

[2021-12-29 17:27] tillkruss commented on #716
@RobertEcker: `master` isn't stable, if you have issues with it, please submit PRs.

[2021-12-31 13:54] ZekiJohn commented on #32
In my case configuring Redis was not enough setting `default_socket_timeout=-1` in php.ini makes it to work.
thanks @bencromwell.

[2022-01-06 09:17] remicollet opened #733 "1 test failure with PHP 8.1"
[code]

[2022-01-06 15:33] repli2dev opened #734 "ClientInterface::get() is supposed to return string but actually can return \Predis\Response\Status"
**Describe the bug**
The ClientInterface::get() has documented `string` as return type, but on some situations (detected in production) it may return `\Predis\Response\Status`.

**To Reproduce**
Steps to reproduce the behavior: unknown

**Expected behavior**
Either only string is returned or the current state is properly documented.

**Versions (please complete the following information):**
 - Pre

[2022-01-06 17:37] tillkruss commented on #733
Calling in the big guns @michael-grunder.

See this test case:

https://github.com/predis/predis/blob/4c1aada5aebf0afde266b512ed069f822148c3a2/tests/Predis/Command/Redis/SETRANGE_Test.php#L94-L102

I'm getting different results for `unpack('i', pack('i', -2147483648))` on varying architectures:
- x86: `-2147483648`
- arm: `2147483648`

[2022-01-06 20:27] tillkruss commented on #733
@remicollet: If this a blocker for you right now, I just remove the test for now.

[2022-01-06 22:07] michael-grunder commented on #733
I only quickly checked but I'm different behavior in `pack()` and `unpack()` in PHP 8.1.x (vs older versions of PHP).

[code]

Linux x86_64
[code]

Darwin aarch64:
[code]

[2022-01-07 06:40] remicollet commented on #733
Not a blocker (I simply exclude this test for now)

[2022-01-07 07:22] remicollet commented on #733
For me it looks like a regression as -2147483648 is a valid 32-bit signed int.

https://github.com/php/php-src/issues/7899

[2022-01-07 08:07] repli2dev commented on #734
@tillkruss PR created: https://github.com/predis/predis/pull/735/files

The casting is not plausible as it returns the Status response as the content of the key, which will certainly break things... just a bit later.

[2022-01-07 18:21] michael-grunder commented on #733
@remicollet Thanks for looking into it (and for fixing it in PHP!).  :heart:

[2022-01-12 07:01] olischmidt123 opened #736 "Php 8.1 deprecation warning"
**Describe the bug**
When updating to php 8.1 i noticed some deprecation warning.

Deprecated: Return type of Predis\Client::getIterator() should either be compatible with IteratorAggregate::getIterator(): Traversable, or the #[\ReturnTypeWillChange] attribute should be used to temporarily suppress the notice in vendor/predis/predis/src/Client.php on line 518

**To Reproduce**
install predis with

[2022-01-12 16:10] tillkruss commented on #736
Update your package.

[2022-01-12 16:10] #736 closed

[2022-01-15 10:39] abdennor opened #738 "MODULE command is not supported"
I'm trying to use Predis with RedisJson and the lib execute  MODULE command to check for json module support, but Predis can't excute it, it's unknown for it 'ERR unknown command 'MODULE''
any suggestions please ?

[2022-01-15 19:38] tillkruss commented on #738
There is no high level support currently, you can use `RawCommand` tho.

[2022-01-15 19:38] #738 closed

[2022-01-16 18:19] abdennor commented on #738
it seems that Command is not allowed in Redis Enterprise cloud instance
check this bro [what redis say's](https://stackoverflow.com/questions/70719895/init-redisjson-with-predis-module-version-error?noredirect=1#comment125031551_70719895)

[2022-01-28 16:56] sagarsolace opened #741 "Transaction not locking the key way expected"
**Code sample**
$redis->transaction()->set('lastTokenNumber', (string)($lastTokenNumber+1))->get('lastTokenNumber')->execute();

**Additional context**
You can see above command should lock the key lastTokenNumber while other concurrent requests are executing over the server.
But its not plese refer the jmeter stress test response we are getting.

Please help to know what exact thing we are missin

[2022-01-30 12:57] Seldaek commented on #512
Another ping here, as I realized methods like `zcard` could be improved to return `int<0, max>` instead of simply `int`. Possibly something to consider for 2.x, I don't want to sidetrack any 2.0 efforts :)

[2022-01-30 16:21] tillkruss commented on #512
@Seldaek Wanna open a PR?

[2022-01-31 15:55] tillkruss commented on #741
Can you open a PR with a fix?

[2022-02-04 12:08] esler opened #742 "Connection over TLS affects default stream context"
Socket connection is opened by `stream_socket_client()` without context. PHP will assign default (global) context to the resource. Later in the connection init functions like `stream_context_set_option()` will change resource's context which's global and shared by all file handling functions. That may lead to some nasty issues including security vulnerabilities. I already prepared PR (#743) with a

[2022-02-04 12:12] esler commented on #742
#714 is most probably caused by this issue

[2022-02-04 16:41] tillkruss commented on #742
Fixed in #743.

[2022-02-04 16:41] #742 closed

[2022-02-04 16:41] tillkruss commented on #714
Fixed in #743.

[2022-02-04 16:41] #714 closed

[2022-02-13 06:51] PHPTCloud opened #744 "ERR syntax error"
My code:
[code]

[2022-02-13 07:10] #744 closed

[2022-02-15 03:17] lechatthecat opened #745 "How can I use watch/unwatch with redis-cluster?"
How can I use watch/unwatch with redis-cluster?
I tried watch/unwatch with redis-cluster, but p-redis throws an exception that says "UNWATCH cannot be used with redis cluster".

[2022-02-17 15:59] tillkruss commented on #594
@BridgeTrollPW @dzoeteman feel free to chime in an test #739.

[2022-02-21 09:07] mmlsx commented on #682
+1

[2022-03-08 19:35] xavierrigau commented on #480
The options solved my issue. 🙇‍♂️

[2022-03-10 16:20] wgxo commented on #535
I was getting the same `Error while switching to encrypted communication` until I used the following configuration.

[code]

[2022-03-12 13:01] jotaszewsky commented on #741
If I understand correctly.
I think this is not a bug and redis by default does not lock the key between different clients. You should use the `watch` function to solve your problem. Usage example:

[code]

Now `execute()` throws an exception if the key `lastTokenNumber` was changed after watch.
You can find more information about this mechanism directly in the redis documentation
[https://redis.io

[2022-03-12 16:35] #741 closed

[2022-03-12 19:13] rintoug commented on #390
This worked for me in Laravel Version 7

[2022-03-17 10:21] domfie commented on #535
I had `'verify_peer_name'  => false,` but was missing `'verify_peer'       => false,`. Thank you :)

[2022-03-31 17:40] abdiazizfarah commented on #682
Hey @gbgelado, any update on this issue?

[2022-04-03 00:01] obipascal commented on #390
Setting the `REDIS_CACHE_DB=1` or greater works fine!

[2022-04-12 06:54] eskayamadeus commented on #390
Brilliant. In my understanding, the value of REDIS_CACHE_DB just points to a name that should be used for the database. Therefore, any value at all should work, not just 0

[2022-04-18 19:54] sergeynilov opened #751 "How to write hierarchical structure of data ?"
Hello,
If there is a way in laravel 9 / "predis/predis": "^1.1" app with redis v 5.0.7 to write
hierarchical structure of data and later to read it? If yes please, link to example.

Thanks!

[2022-04-18 20:01] tillkruss commented on #751
`serialize()`

[2022-04-18 20:01] #751 closed

[2022-04-19 03:44] sergeynilov commented on #751
Sorry, if I put my question in poor way. I mean how to write hierarchical structure on redis side ? Like ItemRoot and ItemSubRoot1, ItemSubRoot2...

[2022-05-02 09:36] rhl-jfm opened #754 "predis incompatible with Sentinel in Redis 7"
In a Redis Sentinel cluster, predis still uses the SENTINEL SLAVES command to find replicas. This command was deprecated in Redis 6 (replaced by SENTINEL REPLICAS command). The SENTINEL SLAVES command was removed entirely in Redis 7.

In order to work with Redis 7+ Sentinel clusters, predis should be updated to use the SENTINEL REPLICAS command instead.

[2022-05-02 12:28] lulco opened #755 "Missing commands ZPOPMIN and ZPOPMAX"
https://github.com/phpredis/phpredis#zpop

Would it be possible to implement them? Thanks

[2022-05-02 14:53] tillkruss commented on #754
Right on. Can you submit a PR with a possible solution?

[2022-05-03 05:37] bolatovdarkhan25 opened #757 "Return type in method "setex" specified as "int", but actually returns "Predis\Response\Status" instance"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. $client = new Predis\Client(['host' => 'blabla', 'port': 6379]);
    $response = $client->setex('key', 86400, 'val');
2. returned Predis\Response\Status^ {#373  -payload: "OK"}

**Expected behavior**
Expected that response type will be "int", but get "Predis\Response\Statu

[2022-05-03 06:06] alagiyanirav commented on #591
I have set memory_limit = -1 but still facing the same issue.
What is the possible solution to this issue?
I really appreciate any help on this issue.

[2022-05-03 16:30] tillkruss commented on #757
Can you submit a PR with a fix?

[2022-05-07 17:02] raghuveer opened #761 "Request Redis Stack Support"
**Is your feature request related to a problem? Please describe.**
This is a new feature request to support Redis Stack that was released as opensource software few days earlier. Adding support to Redi Stack will be a lot helpful to PHP community.

Thank you

[2022-05-08 15:23] visonforcoding commented on #587
heartbeat for some server with timeout config

[2022-05-08 15:23] vini123 commented on #587
虚幻之物对应着冥冥之路！：《羽》

[2022-05-09 16:28] tillkruss commented on #761
@raghuveer: You're welcome to submit a PR to `main`.

[2022-05-12 08:00] DylanBack opened #763 "Multiple sentinels, which one will be connected"
I have configured multiple sentinel ips.
$sentinels = ['tcp://10.0.0.1', 'tcp://10.0.0.2', 'tcp://10.0.0.3'];

Does each connection connect to the first one, or will one randomly be selected?

[2022-05-16 19:10] zaherg commented on #763
which version do you use? `v1.1` or `main`?

[2022-05-16 19:29] tillkruss commented on #763
Not sure, check your Redis logs.

[2022-05-16 19:29] #763 closed

[2022-05-17 06:25] repli2dev commented on #734
Any comments for the proposed change?

[2022-05-20 16:34] tillkruss commented on #754
https://github.com/redis/redis/pull/10723

[2022-05-20 16:34] #754 closed

[2022-05-20 16:50] #733 closed

[2022-05-26 18:30] #761 closed

[2022-05-26 18:31] #594 closed

[2022-05-26 18:31] #598 closed

[2022-05-26 18:31] #633 closed

[2022-05-26 18:31] #636 closed

[2022-05-26 18:32] #640 closed

[2022-05-26 18:32] #643 closed

[2022-05-26 18:32] #652 closed

[2022-05-26 18:32] #669 closed

[2022-05-26 18:32] #674 closed

[2022-05-26 18:32] #236 closed

[2022-05-26 18:32] #298 closed

[2022-05-26 18:32] #317 closed

[2022-05-26 18:32] #320 closed

[2022-05-26 18:32] #370 closed

[2022-05-26 18:32] #372 closed

[2022-05-26 18:32] #374 closed

[2022-05-26 18:32] #383 closed

[2022-05-26 18:32] #384 closed

[2022-05-26 18:32] #392 closed

[2022-05-26 18:32] #424 closed

[2022-05-26 18:32] #426 closed

[2022-05-26 18:32] #444 closed

[2022-05-26 18:32] #447 closed

[2022-05-26 18:32] #453 closed

[2022-05-26 18:32] #465 closed

[2022-05-26 18:32] #469 closed

[2022-05-26 18:32] #479 closed

[2022-05-26 18:32] #500 closed

[2022-05-26 18:32] #520 closed

[2022-05-26 18:32] #526 closed

[2022-05-26 18:32] #529 closed

[2022-05-26 18:32] #547 closed

[2022-05-26 18:34] #551 closed

[2022-05-26 18:34] #559 closed

[2022-05-26 18:34] #561 closed

[2022-05-26 18:34] #562 closed

[2022-05-26 18:34] #563 closed

[2022-05-26 18:34] #586 closed

[2022-05-26 18:34] #591 closed

[2022-05-26 18:34] #592 closed

[2022-05-26 18:34] #676 closed

[2022-05-26 18:34] #677 closed

[2022-05-26 18:34] #682 closed

[2022-05-26 18:34] #687 closed

[2022-05-26 18:34] #698 closed

[2022-05-26 18:34] #703 closed

[2022-05-26 18:34] #715 closed

[2022-05-26 18:34] #720 closed

[2022-05-26 18:34] #728 closed

[2022-05-26 18:34] #755 closed

[2022-05-26 18:34] #757 closed

[2022-05-26 18:34] #745 closed

[2022-05-26 18:49] #622 closed

[2022-06-07 07:26] xu20160924 opened #769 "The select function will change already existed connection"
**Describe the bug**
Hi, I am using Redis with predis in the Laravel framework. And When I switch to another DB of Redis that will affect another existed one to the same DB.

**To Reproduce**
Steps to reproduce the behavior:
[code]
One thing worth noting is that the config is all the same one, I just want to change to another DB.

**Expected behavior**
keep multiple connections with different DB.

[2022-06-07 07:27] xu20160924 opened #770 "The select function will change already existed connection"
**Describe the bug**
Hi, I am using Redis with predis in the Laravel framework. And When I switch to another DB of Redis that will affect another existed one to the same DB.

**To Reproduce**
Steps to reproduce the behavior:
[code]
One thing worth noting is that the config is all the same one, I just want to change to another DB.

**Expected behavior**
keep multiple connections with different DB.

[2022-06-07 11:34] #770 closed

[2022-06-07 17:13] RedisOptimal commented on #149
Hashtag is a good way to access with single primary key, such as user info, one key with multiple dimension data.
In online shop that usually product list of search and suggestion is unexpected. The cache of product info distribution is random.
So I give a implement of mget/mset and other multiple command over redis cluster, based on redis@3.2 and jedis@3.3.0.
https://github.com/RedisOptimal/redis

[2022-06-08 10:58] AndyLCQ opened #771 "Question about redis 6 support"
Hi,

Sorry this is not really a suggest.
I actually have redis 5. We only have a basic usage of redis to save and get php sessions.
We are actually in predis version 1.1.7.

Firstable, https://github.com/predis/predis/blob/v1.1.7/README.md describe a support for redis 3.2 ; is it a documentation misstake ?

How can I know from which version redis 6 is supported ? Is it supported in 1.1.x ?

Sorry

[2022-06-08 13:04] #771 closed

[2022-06-09 03:59] xu20160924 commented on #769
I find what causes that because RedisManager of Larvel saved every connection by name into the variable, so when I obtain a connection through Redis::connection('config1') that will always return the same instance.

[2022-06-09 03:59] #769 closed

[2022-06-13 22:06] tfedor opened #773 "SPOP only documents string|null as return type, where array is also possible"
Basically just a documentation issue, as far as I'm aware

spop's return method should also include array (Predis v2.0.0)
https://github.com/predis/predis/blob/7d7b3416a805b824228a4e869186eb04af091698/src/ClientInterface.php#L112

[2022-06-14 17:00] tillkruss commented on #773
Want to open a PR?

[2022-06-15 02:59] #773 closed

[2022-06-15 14:01] aurril opened #775 "ERR unknown subcommand 'SLAVES'. Try SENTINEL HELP."
**Describe the bug**
When using Sentinel Replication with Redis 7.0 the following error message is sporadically returned:
ERR unknown subcommand 'SLAVES'. Try SENTINEL HELP.

**Expected behavior**
No error and successful connection to Redis.

**Versions (please complete the following information):**
 - Predis: 2.0.0
 - PHP 7.2.24
 - Redis Server 7.0.0
 - OS Ubuntu 20.04 LTS

**Additional context**

[2022-06-15 15:54] tillkruss commented on #775
Upgrade to 7.0.1.

[2022-06-15 15:54] #775 closed

[2022-06-16 07:24] aurril opened #776 "Use SENTINEL REPLICAS instead of SENTINEL SLAVES"
**Is your feature request related to a problem? Please describe.**
For Redis Sentinel instances that support the SENTINEL REPLICAS command (Redis >= 5.0) it should be preferable to use it instead of SENTINEL SLAVES.

**Describe the solution you'd like**
Before querying for replicas the running server version should be checked. Depending on the version either the SENTINEL REPLICAS command (Redis >=

[2022-06-16 19:23] tillkruss commented on #776
Feel free to open a PR.

[2022-06-18 02:45] jeremyrodeo commented on #682
Why is this closed? Did someone find a way to solve it?

[2022-06-18 04:28] tillkruss commented on #682
@jeremyrodeo: Feel free to open a PR.

[2022-06-21 06:25] ostrolucky opened #777 "Aggregate connections are not being removed in combination with own connection class"
**Describe the bug**
[snc_redis](https://github.com/snc/SncRedisBundle) has its own connection class `\Snc\RedisBundle\Client\Predis\Connection\ConnectionWrapper`. `\Predis\Connection\Aggregate\RedisCluster::remove` method apparently doesn't count with that and doesn't remove faulty connections

![image](https://user-images.githubusercontent.com/496233/174729378-830e63aa-1873-4152-a0ef-d103d8ee8b9

[2022-06-21 15:10] tillkruss commented on #777
@ostrolucky: Feel free to open a PR.

[2022-06-23 11:46] raviMukti opened #778 "Cannot Connect To Redis Using Non-Default User"
i can't connect to redis using a non-default user

i followed the instructions to use **username** based on the release notes for version 1.1.4 [here](https://github.com/predis/predis/releases/tag/v1.1.4)

below is my example code
[code]
but it always gives me error
[code]

did i do it wrong?

**Versions Specification:**
 - Predis: 1.1.10
 - PHP : 7.4
 - Redis Server : 7.0.2
 - OS Ubuntu 22.04

[2022-06-23 17:19] #778 closed

[2022-06-27 00:18] brightq opened #779 "srem method should accept $members as array"
**Describe the bug**
In v2.0, srem has been defined as following in ClientInterface.php
[code]

This should be
[code]

**To Reproduce**
Pass an array arguments to srem method will cause PHP type error `Parameter #2 $member of method Predis\ClientInterface::srem() expects string, array given.`

**Expected behavior**
Array should be accepted as per https://redis.io/commands/srem/
it says Starting wi

[2022-07-08 10:50] 1thew opened #783 "Sentinel without AUTH and replicas with AUTH"
**Describe the bug**
I'm trying to connect sentinel
Sentinel does not have authentication, but replicas do have a password.
Can't create client that uses password only for Redis replica

**To Reproduce**
[code]
If config have  "password"  -- get an error "No sentinel server available for autodiscovery". Client send AUTH to sentinel connections.
If config dont have "password" :
`Predis\Connection\C

[2022-07-08 15:08] tillkruss commented on #783
It's a known issue. Pull Requests welcome. See #782.

[2022-07-08 15:09] tillkruss commented on #734
Closing until this can be replicated.

[2022-07-08 15:09] #734 closed

[2022-07-14 07:17] TimoFrenzel opened #785 "GEOSEARCH / GEOSEARCHSTORE not in predis"
As of Redis version 6.2.0, this command is regarded as deprecated.

It can be replaced by [GEOSEARCH](https://redis.io/commands/geosearch) and [GEOSEARCHSTORE](https://redis.io/commands/geosearchstore) with the BYRADIUS argument when migrating or writing new code.

greetz Timo

[2022-07-18 09:22] dakorpar opened #786 "Too few arguments to function `SentinelReplication::getConnection()` after upgrade to php 8.1"
**Describe the bug**
Not really sure how that happens, butI have problems with sentinel, on random requests I get error (after upgrade to php 8.1 from 8.0), which doesn't make sense when looking into code...
Too few arguments to function [Predis\Connection\Aggregate\SentinelReplication::getConnection], 0 passed in [vendor/predis/predis/src/Connection/Aggregate/SentinelReplication.php on line 670]

[2022-07-18 16:07] #615 closed

[2022-07-18 16:09] tillkruss commented on #786
Feel free to open a PR with a fix.

[2022-07-18 18:53] dakorpar commented on #786
If only I could reproduce this and understand what happens, because parameter is allways passed:
![image](https://user-images.githubusercontent.com/9303856/179582211-ba178a0d-7d5b-45ad-a9d6-ef28b01da7e5.png)
Something feels really wierd about this and this happens on less then 1% of calls...

[2022-07-21 08:23] dakorpar commented on #783
If there's no password on sentinels then you need to set password in url as empty string, otherwise it will use default redis password for sentinels and fail. This is breaking change from 1.1.10 to 2.0.0, try something like this:
[code]

[2022-07-21 15:35] tillkruss commented on #783
I don't have the bandwidth to test Sentinel setups. I'm open to PRs with test cases and detailed explanations.

[2022-07-26 14:36] waqas-badar commented on #783
I was facing this issue. My issue got resolved after increasing the timeout.

I face another issue, while investigating, it is found that in SentinelReplication.php we are using SENTINEL slaves command which is not supported in new version IMHO. I tried with sentinel help command in redis-cli and unable to find it. When i switch the command to SENTINELS then it work. Not sure either it was the exa

[2022-07-26 15:33] tillkruss commented on #783
The missing command was re-added in 7.0.1: https://github.com/redis/redis/pull/10723

[2022-07-26 15:34] tillkruss commented on #776
https://github.com/redis/redis/pull/10723

[2022-07-29 09:41] RmK9 opened #789 "Random "php_network_getaddresses: getaddrinfo failed: Name or service not known" errors"
**Describe the bug**
Hi guys, we have been getting the above error about 50 times per day at random times. Using Laravel 9.21.6 and Predis v2.0.0 - happened with lower Laravel minor version and Predis 1.x versions as well. The weird thing is that everything actually works, we are using Redis for sessions and cache, no issues whatsoever. However, those errors just occur in the error log each day, r

[2022-07-29 14:48] tillkruss commented on #789
That comes from PHP networking layer. I'd ask about it on SO.

[2022-07-29 14:48] #789 closed

[2022-08-04 16:33] alex205 opened #790 "Class already in use bug when a Symfony bundle is requiring Predis"
**Describe the bug**
I am creating a Symfony bundle which uses Predis to access to Redis cache. The bundle have Predis in its composer dependencies. When I import my bundle in a Symfony project using composer with local repository, I got the following error: "Compile Error: Cannot declare class Predis\Connection\Factory, because the name is already in use". Predis version is 2.0.0.

I've tried bac

[2022-08-04 17:44] tillkruss commented on #790
Please post the full stack trace.

[2022-08-04 20:34] Federkun commented on #786
I may experience something similar/related, but with guzzle; any chance you are using newrelic?

[2022-08-05 20:35] dakorpar commented on #786
yep, we're using newrelic, but with 2.0 upgrade we're no longer experiencing this issue, so as far as I'm concerned this can be closed

[2022-08-05 20:55] tillkruss commented on #786
Great, thanks for reporting!

[2022-08-05 20:55] #786 closed

[2022-08-10 10:49] karimos97 opened #792 "Support of Redis Stack"
most developers are using Redis Stack  , can you please support it in the next version?

[2022-08-10 15:01] tillkruss commented on #792
Pull requests are welcome.

[2022-08-10 15:01] #792 closed

[2022-08-22 01:13] lechatthecat opened #793 "supplied resource is not a valid stream resource"
**Describe the bug**
predis/predis/src/Connection/StreamConnection.php:291 is throwing an exception.
Except this, predis seems to be working as expected.
[code]

**To Reproduce**
Use predis with PHP 8.1.6

**Expected behavior**
It should not throw exception even if the resource is already closed.

**Versions (please complete the following information):**
 - Predis: 1.1.9
 - PHP 8.1.6

**Additional

[2022-08-22 03:55] tillkruss commented on #793
Can you open a PR with a fix, as well as a test that triggers this exception?

[2022-08-25 10:04] s1lver opened #794 "Cannot use 'FLUSHDB' with redis-cluster"
**Describe the bug**
It is not possible to use commands when working with a cluster

**To Reproduce**

[code]

[code]
but execute this command in `redis-cli`

[code]

**Expected behavior**
Correct command execution

**Versions (please complete the following information):**
 - Predis: 2.0.0
 - PHP 8.0.22
 - Redis Server 7.0.4
 - OS Alpine

**Code sample**
My configure client

[code]
**Additional co

[2022-08-25 14:34] #794 closed

[2022-08-30 21:09] RohanNagar opened #795 "Question: Does PRedis support RESP3?"
Hi, I had a quick question for the maintainers. Does PRedis have support for the RESP3 protocol or does it still only use RESP2?

If it has support for RESP3, is there a configuration option that can be used to set the desired protocol version to either 2 or 3?

Thank you!

[2022-08-30 22:42] tillkruss commented on #795
Using RESP2. Is there any v3 feature you're looking for?

[2022-08-30 22:42] #795 closed

[2022-08-31 03:13] RohanNagar commented on #795
Thanks! No feature in particular, just wanted to see what was used under the hood.

[2022-08-31 03:34] tillkruss commented on #795
Cool. PhpRedis and [Relay](https://relay.so) use hiredis as their underlying clients and they both do full RESP3.

[2022-09-01 11:38] abmmhasan commented on #658
Seems like the issue is back with 2.0!!!!

[2022-09-06 15:56] stebogit commented on #793
Hello, I'm having the same issue and my logs are filling up quite quickly...
Same versions, using Horizon in a Laravel app running on Heroku and using a Redis Cloud instance

[2022-09-07 00:12] tillkruss commented on #793
@stebogit: Please open a PR.

[2022-09-08 06:15] dunghv commented on #658
I have the same issues with version 2.0

[2022-09-15 10:20] edwinsmasher opened #798 "Script attempted to access nonexistent global variable"
Am getting this error in the logs whenever i try to connect to the redis server in laravel

@enable_strict_lua:15: user_script:7: Script attempted to access nonexistent global variable 'cjson' {"exception":"[object] (Predis\\Response\\ServerException(code: 0):

[2022-09-15 14:38] tillkruss commented on #798
Likely related to your Lue script.

[2022-09-15 14:38] #798 closed

[2022-09-15 15:47] mfn commented on #798
For the Redis queue transport, Laravel internally uses some LUA script using `cjson`; if you Redis server is restricted what LUA script it can executed, you need to fix that.

[2022-09-16 17:11] edwinsmasher commented on #798
I reinstalled redis, Works great now.

[2022-09-16 17:36] stebogit commented on #793
Looks like this is going to happen also on v2, indeed due to PHP8 updates: https://onlinephp.io/c/d9f12

[2022-09-17 00:03] #793 closed

[2022-09-18 18:28] streamingsystems opened #801 "fread(): supplied resource is not a valid stream resource"
We are running Laravel 9.

We are using predis 1.1.10. It seems that for months (possibly starting when we upgraded to php 8) we have been randomly getting this a few times per day. We are unable to reproduce it at will.

fread(): supplied resource is not a valid stream resource {"exception":"[object] (TypeError(code: 0): fread(): supplied resource is not a valid stream resource at .../vendor/pred

[2022-09-18 18:41] streamingsystems commented on #793
Hi all,

I just opened ticket [https://github.com/predis/predis/issues/801]801. Were you seeing this as well? They seem related but yours is for write and our issue is for read.

[2022-09-18 19:11] tillkruss commented on #801
Feel free to open a PR to v2 that adds the is-resource check to that fread as well.

[2022-09-18 22:01] tillkruss commented on #801
Closed via #802.

[2022-09-18 22:01] #801 closed

[2022-09-20 18:39] #790 closed

[2022-09-27 15:19] Logicbloke opened #805 "predis as a PHP8 session handler"
Hello,

Can this be used to support session handling on PHP8 and above? It seems like it's not supporting redis session handling with the standard library.

Any help with this is very much appreciated,
Many thanks!

[2022-09-27 16:45] tillkruss commented on #805
yes https://github.com/predis/predis/blob/main/src/Session/Handler.php

[2022-09-27 16:45] #805 closed

[2022-09-29 09:35] wuyuhang18325533531 commented on #658
common issue with version 2.0,

It's a pity to use tls to connect to the sentinel, but unfortunately, it keeps reporting an error

[code]

[2022-09-29 09:36] wuyuhang18325533531 opened #806 "Predis v2.0.x with Redis Sentinels - No sentinel server available for autodiscovery"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Run command '...'
2. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Versions (please complete the following information):**
 - Predis: [e.g. 1.1.2]
 - PHP [e.g. 8.0.0]
 - Redis Server [e.g. 6.0.0]
 - OS [e.g. Ubuntu 20.1

[2022-09-29 09:37] wuyuhang18325533531 commented on #806
common issue with version 2.0,

It's a pity to use tls to connect to the sentinel, but unfortunately, it keeps reporting an error

[code]

[2022-09-29 14:46] #806 closed

[2022-09-29 16:58] tillkruss commented on #806
Please properly report a bug or feature request and open a PR if you want it added.

[2022-09-30 12:31] mta59066 commented on #783
Looks like this was mentioned here https://github.com/predis/predis/issues/658 and already fixed here https://github.com/predis/predis/commit/16957f3b39679b42b08ed2100debf4af89170fa4 but was reverted and broken again here https://github.com/predis/predis/commit/619890f7154ccb6aca758fe23fd4a5fd2f728caa. That commit was done by you @tillkruss do you remember what `fix test` was for?

[2022-09-30 15:19] mta59066 commented on #783
Digging further, it looks like it was broken on 1.1.5 and fixed on 1.1.6 (https://github.com/predis/predis/commit/16957f3b39679b42b08ed2100debf4af89170fa4) but 2.0.0-beta1 was merged from 1.1.5 (https://github.com/predis/predis/commit/d954e9f43f75d33a04b15a210a801cb1fe7837c8) so current code has what 1.1.6 claimed to be a bug in it. And current fixes are not merged because they don't have the appr

[2022-10-01 08:57] mta59066 commented on #783
@tillkruss is there a sentinel authentication scenario currently in predis? From what I can see any authentication with sentinal just does not work and because of this issue redis authentication with sentinal does not work. As mentioned before the code committed on 1.1.5 was [admittedly](https://github.com/predis/predis/releases/tag/v1.1.6) broken.

I'll look at it but `with tests that the removal

[2022-10-01 23:48] tillkruss commented on #783
@mta59066: I don't know TBH, I don't use Redis Sentinel myself.

[2022-10-02 20:00] mta59066 commented on #783
I built test servers with redis-3.2.12 and redis-7.0.5, and created master-slave and multiple sentinel configurations, with and without authentication (basic authentication not user/acl). Predis sentinel authentication under these setups works fine. The way to get replica-authentication with no-sentinel-authentication is to pass empty password on the uri ('tcp://sentinel1:26379?password=') as it w

[2022-10-02 20:12] mta59066 commented on #783
pr #807

[2022-10-06 15:15] tillkruss commented on #783
Closed via #807.

[2022-10-06 15:15] #783 closed

[2022-10-17 15:27] ChrisJokinen opened #808 "syntax error using executeRaw to run a XPENDING"
I made an app based on Predis (Redis 6.x) which works great on my local. The purpose to to remotely log data on a different server than the web server. In a fire and forget fashion. After moving the app to the dev server I started to find these "Err: syntax error" issues wit code that was working fine. After a bit of digging I found our dev was running Redis 5.x. So we upgraded to Redis 7.x, but s

[2022-10-17 18:14] ChrisJokinen commented on #808
I found that by removing the IDLE and time it works
from
`
XPENDING hubCurlLog hubCurlLog-group IDLE 9000 - + 1 hubCurlLog-group_1
`
to
`
XPENDING hubCurlLog hubCurlLog-group - + 1 hubCurlLog-group_1
`

[2022-10-17 18:14] #808 closed

[2022-10-17 18:14] ChrisJokinen commented on #808
found a work araound

[2022-11-02 10:56] googleshokry opened #809 "botman Framwork Redis Storage"
i  useded in botman Framwork Redis Storage

1. when disconnected connect i have this error

2. See error
[Wed Nov  2 12:48:49 2022] PHP Fatal error:  Uncaught ErrorException: fclose(): supplied resource is not a valid stream resource in /**/vendor/predis/predis/src/Connection/StreamConnection.php:247
Stack trace:
#0 [internal function]: Illuminate\Foundation\Bootstrap\HandleExceptions->handleError

[2022-11-02 18:32] trickeyone commented on #736
@tillkruss This issue is still present in v2.0.3. I'm currently receiving the below deprecation warning:
[code]

I'm currently on v2.0.3, and PHP 8.1
[code]

[2022-11-02 19:46] tillkruss commented on #736
@trickeyone Can you open a PR with the fix?

[2022-11-02 21:03] trickeyone commented on #736
@tillkruss PR created: #810

[2022-11-03 00:09] tillkruss commented on #809
Similar to #793 and #801.

@googleshokry: Can you open a PR with a fix?

[2022-11-14 09:53] TimoFrenzel opened #812 "src/Connection/StreamConnection.php"
Every now and then predis will here the error.

src/Connection/StreamConnection.php

[code]

[2022-11-14 16:36] tillkruss commented on #812
Can you replicate it?

[2022-11-15 15:24] tillkruss commented on #812
Can you open a PR with a fix?

[2022-11-15 16:15] tillkruss commented on #812
I can't replicate it.

[2022-11-15 16:15] #812 closed

[2022-11-16 09:12] chayim opened #813 "Add support for missing redis command ZMSCORE"
predis is missing support for some of the sorted set functions, such as [zmscore](https://redis.io/commands/zmscore/). This command has been available since Redis 6.2.0

[2022-11-16 09:13] chayim opened #814 "Add support for missing redis command ZRANDMEMBER"
predis is missing support for some of the sorted set functions, such as [zrandmember](https://redis.io/commands/zrandmember/). This command has been available since Redis 6.2.0

[2022-11-16 09:14] chayim opened #815 "Add support for missing redis command ZDIFF"
predis is missing support for some of the sorted set functions, such as [zdiff](https://redis.io/commands/zdiff/). This command has been available since Redis 6.2.0

[2022-11-16 09:14] chayim opened #816 "Add support for missing redis command ZDIFFSTORE"
predis is missing support for some of the sorted set functions, such as [zdiffstore](https://redis.io/commands/zdiffstore/). This command has been available since Redis 6.2.0

[2022-11-16 09:15] chayim opened #817 "Add support for missing redis command ZMPOP"
predis is missing support for some of the sorted set functions, such as [zmpop](https://redis.io/commands/zmpop/). This command has been available since Redis 6.2.0

[2022-11-16 09:15] chayim opened #818 "Add support for missing redis command BZMPOP"
predis is missing support for some of the sorted set functions, such as [bzmpop](https://redis.io/commands/bzmpop/). This command has been available since Redis 6.2.0

[2022-11-16 09:15] chayim opened #819 "Add support for missing redis command ZRANGESTORE"
predis is missing support for some of the sorted set functions, such as [zrangestore](https://redis.io/commands/zrangestore/). This command has been available since Redis 6.2.0

[2022-11-16 09:20] chayim opened #820 "Tracking Issue: Missing Redis 6.2 Commands"
As part of extending support for redis in predis, this tracking issue will list unimplemented (as of yet) redis 6.2 commands. Working with this tracking issue is an experiment, to see if as a community we can leverage the [same issue in from redis-py](https://github.com/redis/redis-py/issues/1813) here, and if this works for us.

It is important to note, that these issues are in no way prioritized

[2022-11-16 09:22] chayim commented on #819
@vladvildanov please!

[2022-11-16 09:22] chayim commented on #817
@vladvildanov please!

[2022-11-16 09:22] chayim commented on #816
@vladvildanov please!

[2022-11-16 09:22] chayim commented on #814
@vladvildanov please!

[2022-11-16 09:22] chayim commented on #813
@vladvildanov please!

[2022-11-17 15:48] #813 closed

[2022-11-18 08:16] dh2580 opened #824 "If I use a persistent connection, the connection automatically keeps alive?"
hi~nrk, I found in our system that the connection obtained by using the persistent configuration item does not seem to have a keep-alive function

[2022-11-22 07:23] #814 closed

[2022-11-23 10:47] HuyNguyen206 opened #827 "Command `ZMSCORE` is not a registered Redis command"
**Describe the bug**
As i check in this post (https://github.com/predis/predis/pull/823),  this command already was supported inthe package
but when i try to use the command Redis::ZMSCORE(), it displays this error, other commands like ZRANGE, ZREVRANGE, INCR can be used normally
![image](https://user-images.githubusercontent.com/30259638/203528350-4608be7e-a360-49e6-8de8-eb6c0e04c3c9.png)

**To R

[2022-11-24 03:09] HuyNguyen206 commented on #827
@chayim Sure, this in my redis server info

[code]

[2022-11-27 13:49] vladvildanov commented on #827
@chayim @HuyNguyen206 I will check it, but the question is how did this changes passed into 2.0.3 release? 2.0.3 was released Oct 11, ZMSCORE command support is on main branch but there's no release including this functionality

[2022-11-27 14:03] vladvildanov commented on #827
@chayim @HuyNguyen206 That's the actual reason why it's not supported. ZMSCORE command support is not yet included into release, latest release is 2.0.3 was Oct 11, it's probably will be included into next release

[2022-11-27 14:08] vladvildanov commented on #816
@chayim I assume it's a ZDIFFSTORE command, cause ZDIFFSCORE aren't exist, will change description

[2022-11-28 07:48] vladvildanov commented on #827
@tillkruss

[2022-11-28 21:15] tillkruss commented on #827
I'd say once https://github.com/predis/predis/issues/820 is completed.

[2022-11-28 21:15] #827 closed

[2022-11-28 21:16] #815 closed

[2022-11-30 21:23] #816 closed